<!-- JAVASCRIPT -->
<script src="../directorio_admin/libs/jquery/jquery.min.js"></script>
<script src="../directorio_admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../directorio_admin/libs/metismenu/metisMenu.min.js"></script>
<script src="../directorio_admin/libs/simplebar/simplebar.min.js"></script>
<script src="../directorio_admin/libs/node-waves/waves.min.js"></script>
<script src="../directorio_admin/libs/feather-icons/feather.min.js"></script>
<!-- pace js -->
<script src="../directorio_admin/libs/pace-js/pace.min.js"></script>

<!-- apexcharts -->
<script src="../directorio_admin/libs/apexcharts/apexcharts.min.js"></script>

<!-- Plugins js-->
<script src="../directorio_admin/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script
    src="../directorio_admin/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<!-- dashboard init -->
<script src="../directorio_admin/js/pages/dashboard.init.js"></script>

<script src="../directorio_admin/js/app.js"></script>
<!-- leaflet plugin -->
<script src="../directorio_admin/libs/leaflet/leaflet.js"></script>

<!-- leaflet map.init -->
<script src="../directorio_admin/js/pages/leaflet-us-states.js"></script>
<script src="../directorio_admin/js/pages/leaflet-map.init.js"></script>

</body>

</html>