
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8" />
  <title>3C Sigma Water System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
  <meta content="Themesbrand" name="author">
  
  <!-- App favicon -->
  <link rel="shortcut icon" href="./directorio_dash/images/3clogo.svg">

  <base href="#">

        <!-- plugin css -->
        <link href="../directorio_admin/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

        <!-- preloader css -->
        <link rel="stylesheet" href="../directorio_admin/css/preloader.min.css" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="../directorio_admin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="../directorio_admin/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="../directorio_admin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="./css/colors.min.css">
        <script src="./js/jquery/scripts_personalizados.js"></script>
        <link rel="stylesheet" href="./css/typeFont.css" type="text/css" />
         <!-- scroll -->
         <link rel="stylesheet" href="./css/scrolls.css">
        <link href="../directorio_admin/libs/leaflet/leaflet.css" rel="stylesheet" type="text/css" />

         <link href="../directorio_admin/libs/leaflet/leaflet.css" rel="stylesheet" type="text/css" />

         <style>
            .apexcharts-tooltip, .apexcharts-tooltip-title {
                background: rgb(255 255 255 / 50%) !important;
            }
            .leaflet-control-attribution.leaflet-control {
            display: none;
        }
        </style>

    </head>