
<!-- JAVASCRIPT -->
<script src="../directorio_dash/js/scripts_personalizadosdash.js"></script>
<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../libs/metismenu/metisMenu.min.js"></script>
<script src="../libs/simplebar/simplebar.min.js"></script>
<script src="../libs/node-waves/waves.min.js"></script>
<script src="../libs/feather-icons/feather.min.js"></script>

<!-- pace js -->
<script src="../directorio_dash/libs/pace-js/pace.min.js"></script>
<!-- Script Personalizados -->
<script src="../js/scripts_personalizados.js"></script>

<script src="../directorio_dash/js/app.js"></script>


<!-- ==========FIXME: JS DEL FORMULARIO ================= -->

<!-- BEGIN: Vendor JS-->
<script src="../directorio_nuevoCliente/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="../directorio_nuevoCliente/js/jquery.sticky.js"></script>
<script src="../directorio_nuevoCliente/js/jquery.sparkline.min.js"></script>
<script src="../directorio_nuevoCliente/js/jquery.steps.min.js"></script>
<script src="../directorio_nuevoCliente/js/moment-with-locales.min.js"></script>


<script src="../directorio_nuevoCliente/js/jquery.validate.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="../directorio_nuevoCliente/js/app-menu.min.js"></script>
<script src="../directorio_nuevoCliente/js/app.min.js"></script>

<!-- BEGIN: Page JS-->
<script src="../directorio_nuevoCliente/js/breadcrumbs-with-stats.min.js"></script>

<script src="../directorio_nuevoCliente/js/estilosPropios.js"></script>


<!-- ==========FIXME: JS DEL FORMULARIO ================= -->



</body>

</html>