<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="3c Sigma Wataer" content="Ansonika">
  <title>Registro de vendedor</title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <!-- Css scroll del ultimo steps-->
  <link rel="stylesheet" href="./css/scrolls.css">
    <!-- Font Awesome 6 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
  crossorigin="anonymous"
  referrerpolicy="no-referrer" />
  
  <!-- GOOGLE WEB FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- BASES CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <link href="./css/responsive.css" rel="stylesheet">
  <link href="./css/menu.css" rel="stylesheet">
  <link href="./css/animate.min.css" rel="stylesheet">
  <link href="./css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
  <link href="./css/skins/square/grey.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/alertify.css">
  <link rel="stylesheet" href="./css/themes/default.css">

  <!-- CSS DE CALENDARIO DEL REGISTER -->
  <link rel="stylesheet" type="text/css" href="./css/jquery.datetimepicker.css"/>
  <link rel="stylesheet" type="text/css" href="./css/jquery.datetimepicker.min.css"/>
  <!--FIN  BASES CSS -->

</head>

<body>
  <div id="preloader">
    <div data-loader="circle-side"></div>
  </div>
  <!--Preloada -->

   <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <div id="logo_home">
            <h1><a href="#"></a>
            </h1>
          </div>
        </div>
        <div class="col-9">
          <div id="social">
            <ul>
              <li><a href="https://www.facebook.com/3csigmawater" target="_blank"><i class="icon-facebook"></i></a></li>
              <!-- <li><a href="#0"><i class="icon-twitter"></i></a></li> -->
              <li><a href="https://instagram.com/3csigmawater" target="_blank"><i class="icon-instagram"></i></a></li>
              <!-- <li><a href="#0"><i class="icon-linkedin"></i></a></li> -->
            </ul>
          </div>
         <nav>
             <ul class="cd-primary-nav">
                            <li><a href="/login" class="animated_link">Iniciar sesión</a></li>
                            <!-- <li><a href="reservation_version.html" class="animated_link">Reservation Version</a></li>
                            <li><a href="questionare_version.html" class="animated_link">Questionare Version</a></li>
                            <li><a href="review_version.html" class="animated_link">Review Version</a></li>
                            <li><a href="about.html" class="animated_link">About Us</a></li>
                            <li><a href="contacts.html" class="animated_link">Contact Us</a></li> -->
              </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- container -->
  </header>
  <!-- End Header -->

