 <!-- Google Maps JavaScript library -->
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDnXrGToxsOSdtK01dW0yynlYxRsv8D6ro"></script>

 <script>
 
 // ======================================================= ==============-->
   // ==== PARA LA API DE GOOGLE MAPS ======================================= -->
 
   let autocomplete;
   let postalField = document.getElementById('clpostalcode')
   let address1Field = document.getElementById('address1')
   let direccion = document.getElementById('cldireccion')
 
   function initAutocomplete() {
  
     autocomplete = new google.maps.places.Autocomplete(
       direccion, {
         types: ['address'],
         componentrestrictions: {
           'country': ['US']
         },
         fields: ['address_components', 'geometry']
       }
     );
 
     autocomplete.addListener('place_changed', fillInAddress)
 
   }
 
   function fillInAddress() {
     const place = autocomplete.getPlace();
     let address1 = "";
     let postcode = "";
     document.getElementById('loc_lat').value = place.geometry.location.lat();
     document.getElementById('loc_long').value = place.geometry.location.lng();
 
     for (const component of place.address_components) {
       const componentType = component.types[0];
 
       switch (componentType) {
 
         case "street_number": {
           address1 = `${component.long_name} ${address1}`;
           break;
         }
 
         case "route": {
           address1 += component.short_name;
           break;
         }
 
         case "postal_code": {
           postcode = `${component.long_name}${postcode}`;
           break;
         }
 
         case "postal_code_suffix": {
           postcode = `${postcode}-${component.long_name}`;
           break;
         }
         case "locality":
           document.querySelector("#clciudad").value = component.long_name;
           break;
         case "administrative_area_level_1": {
           document.querySelector("#clestado").value = component.long_name;
           break;
         }
         /*
         case "country":
             document.querySelector("#pais").value = component.long_name;
             break;
         */
       }
     }
     direccion.value = address1;
     postalField.value = postcode;
 
   }
 
   window.initAutocomplete = initAutocomplete;
   // Cargar función initAutocomplete al acceder a la página
   google.maps.event.addDomListener(window, 'load', initAutocomplete);
 
  
 
 </script>
 
     </body>
 
     </html>