
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8" />
  <title>Nuevo cliente</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
  <meta content="Themesbrand" name="author">
  <!-- App favicon -->
  <link rel="shortcut icon" href="./cssdash/images/favicon.png">

  <base href="#">

  <!-- preloader css -->
<link rel="stylesheet" href="./cssdash/css/preloader.min.css" type="text/css" />
<!-- Bootstrap Css -->
<link rel="stylesheet" type="text/css" href="./cssdash/css/bootstrap.min.css" id="bootstrap-style" />
<!-- Icons Css -->
<link rel="stylesheet" type="text/css" href="./cssdash/css/icons.min.css" />
<!-- App Css-->
<link rel="stylesheet" type="text/css" href="./cssdash/css/app.min.css" id="app-style" />
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCyPFPC87_eZICupDVjJN9z8nzDjhb28sc"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- YOUR CUSTOM CSS -->
        <link rel="stylesheet" href="./cssnuevocliente/css/jquery.datetimepicker.min.css">

<!-- ==========FIXME: CSS DEL FORMULARIO ================= -->
      <!-- BEGIN: Vendor CSS-->
      <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/vendors.min.css">
      <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/daterangepicker.css">
      <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/pickadate.css">
      <!-- END: Vendor CSS-->
  
      <!-- BEGIN: Theme CSS-->
      <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/bootstrapp.min.css">
      <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/bootstrap-extended.min.css">
     <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/colors.min.css"> 
       <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/components.min.css">
      <!-- END: Theme CSS-->
  
      <!-- BEGIN: Page CSS-->.
      <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/palette-gradient.min.css">
      <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/wizard.min.css">
      <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/daterange.min.css">
      <!-- END: Page CSS-->
  
      <!-- BEGIN: Custom CSS-->
      <link rel="stylesheet" type="text/css" href="../cssnuevocliente/css/estilosPropios.css">
      <!-- END: Custom CSS-->
  


<!-- ==========FIXME: FIN CSS DEL FORMULARIO ================= -->

</head>