<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="3c Sigma Wataer" content="Ansonika">
  <title>Registro de vendedor</title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="./css/scrolls.css">

  <link rel="stylesheet" href="./css/upload.css">
  <!-- GOOGLE WEB FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- BASE CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <link href="./css/responsive.css" rel="stylesheet">
  <link href="./css/menu.css" rel="stylesheet">
  <link href="./css/animate.min.css" rel="stylesheet">
  <link href="./css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
  <link href="./css/skins/square/grey.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/alertify.css">
  <link rel="stylesheet" href="./css/themes/default.css">

  <!-- YOUR CUSTOM CSS -->
  <link rel="stylesheet" href="./css/jquery.datetimepicker.min.css">

  <script src="./js/modernizr.js"></script>
  <!-- Modernizr -->

</head>

<body>
  <div id="preloader">
    <div data-loader="circle-side"></div>
  </div><!-- /Preload -->

  <!-- <div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div> -->

  <!-- /loader_form -->

  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <div id="logo_home">
            <h1><a href="#"></a>
            </h1>
          </div>
        </div>
        <div class="col-9">
          <div id="social">
            <ul>
              <li><a href="https://www.facebook.com/3csigmawater" target="_blank"><i class="icon-facebook"></i></a></li>
              <!-- <li><a href="#0"><i class="icon-twitter"></i></a></li> -->
              <li><a href="https://instagram.com/3csigmawater" target="_blank"><i class="icon-instagram"></i></a></li>
              <!-- <li><a href="#0"><i class="icon-linkedin"></i></a></li> -->
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <!-- container -->
  </header>
  <!-- End Header -->