/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/

--*/

@import url("https://fonts.cdnfonts.com/css/oblivian-text");

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-- start editing from here --*/
a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

/* text align right */
.txt-lt {
  text-align: left;
}

/* text align left */
.txt-center {
  text-align: center;
}

/* text align center */
.float-rt {
  float: right;
}

/* float right */
.float-lt {
  float: left;
}

/* float left */
.clear {
  clear: both;
}

/* clear float */
.pos-relative {
  position: relative;
}

/* Position Relative */
.pos-absolute {
  position: absolute;
}

/* Position Absolute */
.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
  vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
  display: block;
}

/* vertical menu */
nav.horizontal ul li {
  display: inline-block;
}

/* horizontal menu */
/* img {
  max-width: 100%;
} */

/*-- end reset --*/

scroll-container {
  overflow-y: scroll;
}

body {
  font-family: "Oblivian Text" !important;
}

/*-- main --*/

h1 {
  font-size: 45px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

/*-- slide --*/

@keyframes slideleft {
  from {
    background-position: 0%;
  }

  to {
    background-position: 90000%;
  }
}

@-webkit-keyframes slideleft {
  from {
    background-position: 0%;
  }

  to {
    background-position: 90000%;
  }
}

.main-top-intro {
  background-image: url("/img/banner_login.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}

.contenedor-footer{
  margin-top: 22px;
}

.bg-layer {
  min-height: 100vh;
}

/*-- //slide --*/

/*--header start here--*/
header {
  padding: 2em 0;
}

/* header */
.wrapper {
  margin: 0 auto;
  width: 90%;
}

.header-w3layouts {
  float: left;
}

.nav_w3pvt {
  float: left;
  width: 50%;
}

.buttons {
  float: right;
}

a.navbar-brand {
  font-size: 0.9em;
  color: #fff;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  font-weight: 800;
}

a.navbar-brand.logo span.fa {
  color: #fff;
}

.buttons a {
  background: #00bcd4;
  padding: 10px 25px;
  color: #fff;
  display: block;
  border-radius: 0px;
  letter-spacing: 0.5px;
  border: 2px solid #00bcd4;
}

/* CSS Document */

.toggle,
[id^="drop"] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}

/* Styling the links */
nav a {
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 400;
  display: block;
  padding: 10px 15px;
}

nav ul li ul li:hover {
  background: #f8f9fa;
}

nav a:hover {
  color: #fff;
}
/* 
.menu li.active a {
  color: #00bcd4;
  background: transparent;
} */

.inner-dropdown li a {
  color: #333 !important;
}

/* .inner-dropdown li.active a {
  color: #00bcd4 !important;
} */

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 30px;
  background: #fff;
  padding: 10px;
}

ul.inner-dropdown a:hover {
  color: #333;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 160px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul li a {
  padding: 5px 10px;
  display: block;
  font-size: 13px;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after {
  content: "";
}

/* Media Queries
-----



---------------------------------------- */

.copyRight {
  float: right;
  color: white;
  padding-right: 15px;
}
form.newsletter {
  background: transparent;
  padding: 0.3em;
  border: 2px solid #fff;
}

.form-w3layouts-grid .search {
  outline: none;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  width: 85%;
  background: transparent;
  text-transform: capitalize;
  border: none;
  letter-spacing: 2px;
  float: left;
}

.form-w3layouts-grid button.btn {
  color: #fff;
  border: none;
  padding: 10px 0px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  float: right;
  cursor: pointer;
  width: 15%;
  font-size: 14px;
  text-align: center;
}

/*-- //header --*/

body h2 {
  /*  width: 327px; */
  /* height: 38px; */
  /* left: 75px
px
; */
  /* margin-top: -2%; */
  /* padding-top: 7%; */
  /* top: 243px; */
  /* margin-bottom: 1%; */
  font-weight: 800;
  font-size: 32px;
  /* line-height: 38px; */
  color: #ffffff;
}

.bienvenida {
  color: #ffffff;
  font-size: 13px;
}

.main-icon {
  text-align: center;
}

.content-inner-info {
  padding-top: 6em;
  width: 100.2%;
}

a {
  color: #ffffff;
  margin: 0em;
}

.bottom {
  margin: 1em 0 0;
}

.content-w3layouts-main {
  max-width: 350px;
  position: relative;
  padding: 3em 0em;
}

.header-left {
  background: #fff;
  padding: 0px;
}

/* ::-webkit-input-placeholder {
 
} */

::placeholder {
  color: #5b1b74;
  background:white;
  padding: 12px 1px 8px 8px;
  margin: 15px;
  font-size: 12px;
}

 input[type="email"] {
  width: 284px;
  height: 47px;
  left: 76px;
  font-size: 13px;
  top: 357px;
  border: none;
  opacity: 0.29;
  border-radius: 5px;
}

input {
  color: #000000;
  text-align: justify;
  padding: 14px 2px 1px 9px;
  /* height: 10%;*/
}

.form-w3ls-left-info input[type="password"] {
  width: 284px;
  height: 47px;
  left: 76px;
  top: 357px;
  border: none;
  font-size: 13px;
  opacity: 0.29;
  border-radius: 5px;
  margin-bottom: -10px;
}

.form-w3ls-left-info button.btn {
  background: #ffffff;
  color: #76368f;
  margin-top: 27px;
  padding: 0.7em 3em;
  font-size: 14px;
  float: left;
}

button.btn.reg {
  margin-left: 2%;
  background: #4cc2c4;
}

/*--  --*/
/* .form-w3ls-left-info p {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 20px 0;
  letter-spacing: 1px;
} */

.form-w3ls-left-info p.right {
  text-align: right;
}

.form-w3ls-left-info p a {
    font-size: 12px;
    color: #fff;
}

.heading h5 {
  color: #c5c5c5;
  color: #000000;
  margin-top: 8px;
  font-size: 20px;
}

/*-- header end here --*/

/*-- copyright --*/
.copy-w3layouts-inf {
  margin-top: 3em;
  padding: 2em 0;
}

.copy-w3layouts-inf p {
  font-size: 0.85em;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.8em;
  float: right;
  margin-top: -5%;
}


.copy-w3layouts-inf p a {
  color: #fff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

/* social-icons footer */
ul.w3layouts-icons li {
  display: inline-block;
  margin: 0 0.3em;
}

ul.w3layouts-icons li a {
  height: 40px;
  width: 40px;
  line-height: 2.5;
  background: none;
  background: transparent;
  color: #fff;
  text-align: center;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  display: inline-block;
}

ul.w3layouts-icons li a.dribble:hover {
  background: #f26522;
  color: #fff;
  border-color: #f26522;
}

ul.w3layouts-icons li a.vk:hover {
  background: #45668e;
  color: #fff;
  border-color: #45668e;
}

/* //social-icons footer */
/*-- //copyright --*/
/*-- //main --*/

/*-- responsive-design --*/

@media (max-width: 992px) {
  header {
    padding: 2em 0;
    position: absolute;
    width: 90%;
    z-index: 999;
  }
}

@media (max-width: 800px) {
  .nav_w3pvt {
    float: left;
    width: 44%;
  }
}

@media (max-width: 736px) {
  .copy-w3layouts-inf p {
    float: none;
    text-align: center;
  }

  ul.w3layouts-icons {
    float: none;
    text-align: center;
    margin-top: 1em;
  }

  .nav_w3pvt {
    float: left;
    width: 60%;
  }

  .buttons {
    float: right;
    width: 40%;
  }

  .header-w3layouts {
    float: none;
    text-align: center;
  }

  .toggle {
    border: none;
    float: left;
  }

  .form-w3layouts-grid {
    margin-top: 0.5em;
  }

  body h2 {
    font-size: 1.94em;
    margin: 2em 0 0 0;
  }
}

@media (max-width: 600px) {
  .content-inner-info {
    padding-top: 8em;
  }

  .content-inner-info {
    padding-top: 8em;
  }

  .form-w3layouts-grid .search {
    outline: none;
    padding: 10px 10px;
  }

  .copy-w3layouts-inf {
    margin-top: 10em;
    padding: 1em 0;
  }

  .form-w3ls-left-info input[type="email"],
  .form-w3ls-left-info input[type="password"] {
    width: 99%;
  }

 
  .form-w3ls-left-info button.btn {
    background: #ffffff;
    margin-top: 27px;
    color: #76368f;
    font-size: 14px;
    padding: 0.7em 3em;
    margin-left: 30%;
}
  .cd-nav-trigger {
    top: 10px;
    right: -11px;
    height: 44px;
    width: 44px;
    z-index: 5;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

 .bienvenida{
  margin-bottom: -54px;
  text-align: center;
}
.redesSociales {
  margin-bottom: 20px;
  margin-right: 132px;
}
.copyRight {
  float: right;
  color: white;
  padding-right: 15px;
}
}

@media (min-width: 350px) and (max-width: 393px) {
 
  body h2 {
    font-size: 1.6em;
  }
  .bienvenida{
    margin-bottom: -54px;
    text-align: center;
  }
  .form-w3ls-left-info button.btn {
    margin-left: 28%;
}
.olvidastePass{
  text-align: center;
}
  .redesSociales {
    margin-bottom: 20px;
    margin-right: 148px;
  }
  .copyRight {
    float: right;
    color: white;
    padding-right: 48px;
  }

}

@media (min-width: 400px) and (max-width:480px) {

.olvidastePass{
  float: none;
  text-align: center;
}
.redesSociales {
  margin-bottom: 20px;
  margin-right: 148px;
}
.copyRight {
  float: right;
  color: white;
  padding-right: 69px;
}
}

@media (min-width: 390px){
  .p-4 {
    padding: 2.5rem !important;
  }


}

@media (min-width: 1024px) and (max-width:1280px) {
  .form-w3ls-left-info input[type="email"] {
    width: 85%;
    height: 68px;
    left: 76px;
    font-size: 13px;
    top: 357px;
    border: none;
    opacity: 0.29;
    border-radius: 5px;
}

.form-w3ls-left-info input[type="password"] {
    width: 85%;
    height: 68px;
    left: 76px;
    top: 357px;
    border: none;
    font-size: 13px;
    opacity: 0.29;
    border-radius: 5px;
    margin-bottom: -10px;
}
.bienvenida{
   font-size: 19px;
}
.link_registrarse {
  font-size: 20px !important; 
}
#clickAqui{
   font-size: 20px !important; 
}
.h2Id{
    font-size: 48px;
}
.labelEmail, .labelPass{
    font-size: 18px !important;
}
::placeholder {
color: #5b1b74;
background:white;
padding: 12px 1px 8px 8px;
margin: 15px;
font-size: 19px !important;
}
/* olvidastes pass */
.form-w3ls-left-info p a {
  font-size: 19px;
}
.form-w3ls-left-info button.btn {
background: #ffffff;
color: #76368f;
margin-top: 27px;
margin-left: -0.3em;
font-size: 19px;
padding: 1.1em 3.5em;
border-radius: 11px;
}
img{
    width: 13em;
}
.cd-nav-trigger {
    top: auto;
right: 15px;
height: 44px;
width: 44px;
z-index: 5;
overflow: hidden;
text-indent: 100%;
white-space: nowrap;
}
.content-inner-info {
    padding-top: 11em;
    width: 100.2%;
}
.contenedor-footer{
  margin-top: 77px;
}
.redesSociales{
  margin-top: -70px !important;
}
.copyRight {
  float: right;
  color: white;
  padding-right: 15px;
  margin-top: -43px;
  font-size: 20px;
}
}


label {
  position: absolute;
  font-size: 12px;
  color: white;
  margin: 3px;
  padding: 1px 9px 6px;
}

.link_registrarse {
  height: 14px;
  font-size: 13px;
  color: white;
}

.links {
  /* margin-left: 10rem;
  margin-bottom: -2%; */
  margin-top: -25px

}
.form-w3ls-left-info p a {
    font-size: 8px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;
}

.redesSociales li {
  display:inline;
  padding-left:3px;
  padding-right:3px;

}

.redesSociales{
  float: right;
  margin-top: -3%;
  padding-right: 15px;
}

.icon-instagram:hover{
  color:#D2358B;
}

#clickAqui{
  color: #fed061;font-size: 13px;
}
.labelEmail{
  margin-left: 8px; font-size: 10px; padding: 5px 9px;
}
.labelPass{
  margin-left: 8px; font-size: 10px; padding: 5px 9px;
}

@media (min-width: 1920px) {
  .form-w3ls-left-info input[type="email"] {
      width: 113%;
      height: 68px;
      left: 76px;
      font-size: 13px;
      top: 357px;
      border: none;
      opacity: 0.29;
      border-radius: 5px;
  }

  .form-w3ls-left-info input[type="password"] {
      width: 113%;
      height: 68px;
      left: 76px;
      top: 357px;
      border: none;
      font-size: 13px;
      opacity: 0.29;
      border-radius: 5px;
      margin-bottom: -10px;
  }
  .bienvenida, .link_registrarse{
     font-size: 19px;
  }
  #clickAqui{
     font-size: 19px;
  }
  .h2Id{
      font-size: 48px;
  }
  .labelEmail, .labelPass{
      font-size: 15px;
  }
  ::placeholder {
  color: #5b1b74;
  background:white;
  padding: 12px 1px 8px 8px;
  margin: 15px;
  font-size: 15px;
  }
 /* olvidastes pass */
.form-w3ls-left-info p a {
  font-size: 20px;
}
  .form-w3ls-left-info button.btn {
  background: #ffffff;
  color: #76368f;
  margin-top: 27px;
  margin-left: -0.3em;
  font-size: 19px;
  padding: 1.1em 4.0em;
  border-radius: 11px;
  }
  img{
      width: 13em;
  }
  .cd-nav-trigger {
      top: auto;
  right: 15px;
  height: 44px;
  width: 44px;
  z-index: 5;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
  .content-inner-info {
      padding-top: 11em;
      width: 100.2%;
  }
  .contenedor-footer{
    margin-top: 77px;
  }
}
.icon-instagram:hover{
  color:#D2358B;
}
