

/* ...........== MENSAJES ==............. */
/* Mensaje de bienvenida del login */
.bienvenida{font-size: 13px;color:white;margin: 0;font-weight: 400;}
/* Mensaje de titulo del login */
.h2Id{ font-size: 32px;color:white;font-weight: 800;}
/* Mensaje en blanco antes del mensaje amarillo */
.link_registrarse{font-size: 13px;color:white;font-weight: 400;margin: 0;}
/* Mensaje del click aqui */
#clickAqui{color: #fed061;font-size: 13px;font-weight: 400;}
#label{color:white}

/* ...........== CAMPOS ==............. */
#correo, #pass{color: #5b1b74;background:#ffffff47; border:none ;}

/* ...........== PLACEHOLDER ==............. */
#correo::placeholder {
  color:#BE95CE;
}
#pass::placeholder{
color: #BE95CE;
}

/* ...........== RESPONSIVE ==............. */

/* 350 px hasta 393 px ==>> moviles */
 @media (min-width: 350px) and (max-width: 393px) {
.bienvenida{text-align: center;font-size: 16px;}
.h2Id{text-align: center;font-size: 27px;}
.link_registrarse{text-align: center;}
/* Menu */
/* .cd-nav-trigger {margin-top: -20px;} */
}

/* 400px hasta 480px ==>> PC */
/* @media (min-width: 400px) and (max-width:480px) {
  .cd-nav-trigger {margin-top: -17px;}
} */
/* 1024px hasta 1280px ==>> PC */
@media (min-width: 1024px) and (max-width:1280px) {
  .auth-content.my-auto {width: max-content; }
 }
 /* 1368px hasta 1920px ==>> PC */
 @media (min-width: 1368px) and (max-width: 1920px) {
  .content-inner-info{width: max-content}
  }


