@import url("https://fonts.cdnfonts.com/css/oblivian-text");
body {font-family: "Oblivian Text" !important;}
/* ...........== LOGOS ==............. */
/* Logo blanco */
#logoBlanco{float: left;}

/* ...........== CONTENEDORES ==............. */
.contenedor-personalizado{width:100% ;}

/* ...........== MENSAJES ==............. */
/* Mensaje de bienvenida del login */
.bienvenida{font-size: 13px;color:white;margin: 0;font-weight: 400;}
/* Mensaje de titulo del login */
.h2Id{ font-size: 32px;color:white;font-weight: 800;}
/* Mensaje en blanco antes del mensaje amarillo */
.link_registrarse{font-size: 13px;color:white;font-weight: 400;margin: 0;}
/* Mensaje del click aqui */
#clickAqui{color: #fed061;font-size: 13px;font-weight: 400;}

  /* ...........== LABEL ==............. */
/* Label en general */
label { position: absolute;font-size: 12px;color: white;margin: 3px; padding: 1px 9px 6px; }
/* Label de correo */
.labelEmail{ margin:0 0 0 8px; font-size: 10px; padding: 5px 9px;}
/* Label de clave */
.labelPass{ margin:0 0 0 8px; font-size: 10px; padding: 5px 9px; }

   /* ...........== CAMPOS ==............. */
/* Input general */
input {color: #000000;text-align: justify;padding: 14px 2px 1px 9px;}
/* Campo de correo */
.cssCorreo{ width: -webkit-fill-available; height: 47px; left: 76px; font-size: 13px;top: 357px; border: none;opacity: 0.29;border-radius: 5px;}
/* Campo de la clave */
.password{width: -webkit-fill-available; height: 47px;left: 76px;font-size: 13px; top: 357px; border: none; opacity: 0.29;border-radius: 5px; }

/* ...........== PLACEHOLDER ==............. */
::placeholder {color: #5b1b74; background:white; padding: 12px 1px 8px 8px; margin: 15px;font-size: 12px; }

/* ...........== RECORDARME ==............. */
.form-switch-lg .form-check-label { font-size: 13px;margin: -14px 0 0 -25px;vertical-align: middle;}
.form-switch .form-check-input { width: 1.5em; margin:-4px 0 0 -2.5em;}
.form-check-input {height: 0.5em;}

/* ...........== OLVIDAR CLAVE ==............. */
p.text-muted.mb-0 {float: right;font-size: 11px; margin: -14px 0 0 0; }
#olvidarPass{color: white; }

/* ...........== BOTON ==............. */
/* Boton de ingresar sesion */
#boton{border-radius: 5px;color: #76368f;font-size: 13px; padding: 0.7em 3em;background: white;  margin-top: -27%;   margin-bottom: -12px;}
.btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:hover {color: #76368f;background-color: #ffffff;}

/* ...........== COPYRIGHT ==............. */
.copyRight { float: right; color: white; padding-right: 15px;margin-top: -60px;font-size: 13px;font-weight: 400;}

/* ...........== REDES SOCIALES ==............. */
.redesSociales{float: right;color: white;padding-right: 15px;margin-top: -83px;font-size: 13px;}
#face{width: 16px;color: white;font-weight: 400;}

 /* ...........== RESPONSIVE ==............. */
 /* 350 px hasta 393 px ==>> moviles */
@media (min-width: 350px) and (max-width: 393px) {

    #logoBlanco{float: none;margin:0 0 15px 0;} 
    .bienvenida{text-align: center;font-size: 16px;}
    .h2Id{text-align: center;font-size: 27px;}
    .divBtn, .link_registrarse{text-align: center;}
    .copyRight{float: none;text-align: center;padding: 0;}  
    .redesSociales{float: none;text-align: center;padding: 0;}  
    .footer-personalizado{margin: 23px 0 0 0;}
}
@media (min-width: 400px) and (max-width:480px) {

    #logoBlanco{float: none;margin:0 0 -62px 0;} 
    .bienvenida{text-align: center;font-size: 16px;margin: -42% 0 0 0;}
    .h2Id{text-align: center;font-size: 27px;}
    .link_registrarse{text-align: center;font-size: 16px}
    .divBtn, .link_registrarse{text-align: center;}
    .copyRight{float: none;text-align: center;padding: 0;}  
    .redesSociales{float: none;text-align: center;padding: 0;}
    .footer-personalizado{ margin: -43% 0 0 0;}  
}
@media (min-width: 1024px) and (max-width:1280px) {
    .footer-personalizado{margin:0 30px 0 0;}
    /* Campo de correo */
    .cssCorreo{width: 35em; height: 57px; }
    /* Campo de la clave */
    .password{width: 35em; height: 57px; }
    /* Label de correo */
    .labelEmail{ font-size: 13px;}
    /* Label de clave */
    .labelPass{ font-size: 13px; }
    /* ...........== PLACEHOLDER ==............. */
    ::placeholder {font-size: 14px; }
    /* ...........== CONTENEDORES ==............. */
    .contenedor-personalizado{width:auto ;}
    .bienvenida {font-size: 17px;}
    .h2Id {font-size: 35px;}
    .link_registrarse, #clickAqui {font-size: 15px;}
    #boton {font-size: 17px; padding: 0.9em 2.5em;margin: -19% 0 0 0; }
    #logoBlanco {width: 40%;}
}
@media (min-width: 1368px) and (max-width: 1920px) {
  p.text-muted.mb-0 { font-size: 10px; margin-top: -4px; }
    .footer-personalizado{margin-right: 30px;}
    .contenedor-personalizado{width:auto ;}
    .content-inner-info{width: max-content}
    .cssCorreo {width: 33.3em;height: 66px;font-size: 16px; }
    .password{width: 33.3em; height: 66px; font-size: 16px; }
    .labelEmail{ font-size: 15px;}
    .labelPass{ font-size: 15px; }
    ::placeholder {font-size: 15px; }
    .bienvenida, .link_registrarse, #clickAqui{ font-size: 18px;}
    #olvidarPass{ font-size: 16px;}
    .h2Id{ font-size: 46px;}
    #boton {font-size: 20px;padding: 0.7em 2.5em; margin-top: -14%;}
    .my-auto {margin-top: 11% !important;}
    #logoBlanco {width: 37%;}
    .copyRight{font-size: 18px;}
    .redesSociales {font-size: 18px; margin-top: -91px;}
    .form-switch-lg .form-check-label {font-size: 16px;margin-top: -4px;}
    .form-switch .form-check-input {width: 1.5em; margin-left: -2.5em;  margin-top: 6px;  }
}

@media (min-width: 2560px) {
   p.text-muted.mb-0 { font-size: 10px;margin-top: 19px; }
    .footer-personalizado{margin-right: 30px;}
    .contenedor-personalizado{width:auto ;}
    .content-inner-info{width: max-content}
    .cssCorreo {    width: 24em;
        height: 86px;
        font-size: 28px;
        border-radius: 13px;}
    .password{    width: 24em;
        height: 86px;
        font-size: 28px;
        border-radius: 13px;} 
    .labelEmail{ font-size: 18px;}
    .labelPass{ font-size: 18px; }
    ::placeholder {font-size: 24px;font-weight: 700; }
    .bienvenida, .link_registrarse, #clickAqui{ font-size: 24px; margin-top: 31px;}
    #olvidarPass{ font-size: 24px;}
    .h2Id{ font-size: 60px;}
    #boton {font-size: 28px;margin-top: 36px;padding: 0.7em 2.5em;border-radius: 17px; }
    .my-auto {margin-top: 11% !important;}
    #logoBlanco {width: 30%;margin-top: 27px;}
    #face{width: 48px;color: white;font-weight: 400;}
    .copyRight{font-size: 30px;}
    .redesSociales {font-size: 37px;margin-top: -118px;}
    input[switch]:checked + label:after {left: 163px;}
    input[switch] + label:after { content: "";position: absolute; left: 4px; background-color: #e9e9ef;
        -webkit-box-shadow: none;box-shadow: none; border-radius: 2rem;
        height: 49px;width: 43px;top: 2px;-webkit-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;
    }
    input[switch] + label:before { color: #343a40;content: attr(data-off-label); display: block;font-family: inherit;
        font-size: 24px;line-height: 21px;position: absolute;right: 1px; margin: 9px; top: 7px; min-width: 1.66667rem;overflow: hidden;
    }
    input[switch] + label { width: 208px; height: 53px;}
    .form-switch .form-check-input { width: 4em;margin-left: -2.5em; margin-top: 13px; height: 47px;}
    .form-check-input {height: 2em; }
    .form-switch-lg .form-check-label {font-size: 24px; margin-top: 17px; margin-left: 5px;vertical-align: middle;}
}