
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8" />
  <title>Lista de clientes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
  <meta content="Themesbrand" name="author">
  <!-- App favicon -->
  <link rel="shortcut icon" href="./cssdash/images/favicon.png">

  <base href="#">

  

    <!-- DataTables -->
    <link
        href="./cssdash/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link
        href="./cssdash/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />

    
  
  <!-- preloader css -->
<link rel="stylesheet" href="./cssdash/css/preloader.min.css" type="text/css" />

<!-- Bootstrap Css -->
<link rel="stylesheet" type="text/css" href="./cssdash/css/bootstrap.min.css" id="bootstrap-style" />
<!-- Icons Css -->
<link rel="stylesheet" type="text/css" href="./cssdash/css/icons.min.css" />
<!-- App Css-->
<link rel="stylesheet" type="text/css" href="./cssdash/css/app.min.css" id="app-style" />

</head>

<body>

  <!-- Begin page -->
  <div id="layout-wrapper">

   <!-- =======FIXME: MENU ========================== -->
   <%- include ('./partials/menu.ejs')%>
   <!-- =======FIXME: MENU ========================== -->

    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Lista de afiliados</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">Codigo de Afiliados</a></li>
                            <li class="breadcrumb-item active">Lista de Afiliados</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        
          
          

            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="mb-3">
                        <h5 class="card-title">Lista de afiliados <span
                                class="text-muted fw-normal ms-2">(10)</span></h5>
                    </div>
                </div>

            
                  
                        <!-- <div>
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                        href="contacts-list"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="List"><i
                                            class="bx bx-list-ul"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="contacts-grid"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Grid"><i
                                            class="bx bx-grid-alt"></i></a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- <div>
                            <a href="#" class="btn btn-light"><i class="bx
                                    bx-plus me-1"></i> Add New</a>
                        </div> -->

                        <!-- <div class="dropdown">
                            <a class="btn btn-link text-muted py-1 font-size-16
                                shadow-none dropdown-toggle" href="#"
                                role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bx bx-dots-horizontal-rounded"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another
                                        action</a></li>
                                <li><a class="dropdown-item" href="#">Something
                                        else here</a></li>
                            </ul>
                        </div> -->
                  

              
            </div>
            <!-- end row -->

            <div class="table-responsive mb-4">
                <table class="table align-middle datatable dt-responsive
                    table-check nowrap" style="border-collapse: collapse;
                    border-spacing: 0 8px; width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 50px;">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input" id="checkAll">
                                    <label class="form-check-label"
                                        for="checkAll"></label>
                                </div>
                            </th>
                            <th scope="col">Nombres </th>
                            <th scope="col">Aapellidos</th>
                            <th scope="col">Correos</th>
                            <th scope="col">Ventas</th>
                            <th style="width: 80px; min-width: 80px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck1">
                                    <label class="form-check-label"
                                        for="contacusercheck1"></label>
                                </div>
                            </th>
                             <td>
                              <!--  <img src="./cssdash/images/users/avatar-2.jpg"
                                    alt="" class="avatar-sm rounded-circle
                                    me-2">-->
                                <a href="#" class="text-body">Phyllis Gatlin</a>
                            </td> 
                            <td>UI/UX Designer</td>
                            <td>phyllisgatlin@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge
                                        badge-soft-success">$ 7.000</a>
                                   
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck2">
                                    <label class="form-check-label"
                                        for="contacusercheck2"></label>
                                </div>
                            </th>
                            <td>
                              <!--   <img src="./cssdash/images/users/avatar-1.jpg"
                                    alt="" class="avatar-sm rounded-circle
                                    me-2">-->
                                <a href="#" class="text-body">James Nix</a>
                            </td> 
                            <td>Frontend Developer</td>
                            <td>jamesnix@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 9.200</a>
                                    
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck3">
                                    <label class="form-check-label"
                                        for="contacusercheck3"></label>
                                </div>
                            </th>
                             <td>
                              <!--  <img src="./cssdash/images/users/avatar-3.jpg"
                                    alt="" class="avatar-sm rounded-circle
                                    me-2"> -->
                                <a href="#" class="text-body">Darlene Smith</a>
                            </td>
                            <td>Backend Developer</td>
                            <td>darlenesmith@minia.com</td>



                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 3.000.000</a>
                                    
                                </div>




                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck4">
                                    <label class="form-check-label"
                                        for="contacusercheck4"></label>
                                </div>
                            </th>
                           <td>
                                <!--  <div class="avatar-sm d-inline-block
                                    align-middle me-2">
                                    <div class="avatar-title bg-soft-light
                                        text-light font-size-24 m-0
                                        rounded-circle">
                                        <i class="bx bxs-user-circle"></i>
                                    </div>
                                </div>-->
                                <a href="#" class="text-body">William Swift</a>
                            </td> 
                            <td>Full Stack Developer</td>
                            <td>williamswift@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 4.500</a>
                                  </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck5">
                                    <label class="form-check-label"
                                        for="contacusercheck5"></label>
                                </div>
                            </th>
                            <td>
                                <!-- <div class="avatar-sm d-inline-block
                                    align-middle me-2">
                                    <div class="avatar-title bg-soft-light
                                        text-light font-size-24 m-0
                                        rounded-circle">
                                    </div>
                                </div> -->
                                <a href="#" class="text-body">Kevin West</a>
                            </td>
                            <td>Frontend Developer</td>
                            <td>kevinwest@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 8.000</a>
                                    
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck6">
                                    <label class="form-check-label"
                                        for="contacusercheck6"></label>
                                </div>
                            </th>
                            <td>
                                <!-- <img src="./cssdash/images/users/avatar-6.jpg"
                                    alt="" class="avatar-sm rounded-circle
                                    me-2"> -->
                                <a href="#" class="text-body">Tommy Hayes</a>
                            </td> 


                            <td>UI/UX Designer</td>
                            <td>tommyhayes@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 4.000</a>
                                    
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck7">
                                    <label class="form-check-label"
                                        for="contacusercheck7"></label>
                                </div>
                            </th>
                            <td>
                                <!-- <img src="./cssdash/images/users/avatar-8.jpg"
                                    alt="" class="avatar-sm rounded-circle
                                    me-2"> -->
                                <a href="#" class="text-body">Diana Owens</a>
                            </td> 
                            <td>Graphic Designer</td>
                            <td>dianaowens@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 2.000</a>
                                    
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck8">
                                    <label class="form-check-label"
                                        for="contacusercheck8"></label>
                                </div>
                            </th>
                             <td>
                                <!-- <img src="./cssdash/images/users/avatar-9.jpg"
                                    alt="" class="avatar-sm rounded-circle
                                    me-2">-->
                                <a href="#" class="text-body">Paul Sanchez</a>
                            </td> 
                            <td>Angular Developer</td>
                            <td>paulsanchez@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 6.000</a>
                                    
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck9">
                                    <label class="form-check-label"
                                        for="contacusercheck9"></label>
                                </div>
                            </th>
                             <td>
                               <!-- <img src="./cssdash/images/users/avatar-9.jpg"
                                    alt="" class="avatar-sm rounded-circle
                                    me-2">-->
                                <a href="#" class="text-body">Peter Dryer</a>
                            </td> 
                            <td>Web Designer</td>
                            <td>peterdryer@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 1.000</a>
                                   
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck10">
                                    <label class="form-check-label"
                                        for="contacusercheck10"></label>
                                </div>
                            </th>
                            <td>
                               <!--  <img src="./cssdash/images/users/avatar-4.jpg"
                                    alt="" class="avatar-sm rounded-circle
                                    me-2">-->
                                <a href="#" class="text-body">Gerald Moyer</a>
                            </td> 
                            <td>Backend Developer</td>
                            <td>geraldmoyer@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 8.000.000</a>
                                   
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="form-check font-size-16">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="contacusercheck11">
                                    <label class="form-check-label"
                                        for="contacusercheck11"></label>
                                </div>
                            </th>
                            <td>
                               <!--  <img src="./cssdash/images/users/avatar-2.jpg"
                                    alt="" class="avatar-sm rounded-circle
                                    me-2">-->
                                <a href="#" class="text-body">Gail McGuire</a>
                            </td> 
                            <td>Backend Developer</td>
                            <td>gailmcGuire@minia.com</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <a href="#" class="badge badge-soft-success
                                        font-size-11">$ 3.500.000</a>
                                   
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-link font-size-16
                                        shadow-none py-0 text-muted
                                        dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bx
                                            bx-dots-horizontal-rounded"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another
                                                action</a></li>
                                        <li><a class="dropdown-item" href="#">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- end table -->
            </div>
            <!-- end table responsive -->

            
        </div>
      </div>
    <!-- =======FIXME: copyright ========================== -->
    <%- include ('./partials/copyright.ejs')%>
    <!-- =======FIXME: copyright ========================== -->
  
    </div>
  </div>

  
<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title d-flex align-items-center bg-dark p-3">

            <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>

        <!-- Settings -->
    
        <%- include ('partials/customizar-tema.ejs')%>

    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<!-- <div class="rightbar-overlay"></div> -->
  <!-- JAVASCRIPT -->
  <script src="./cssdash/js/scripts_personalizadosdash.js"></script>
<script src="./cssdash/libs/jquery/jquery.min.js"></script>
<script src="./cssdash/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./cssdash/libs/metismenu/metisMenu.min.js"></script>
<script src="./cssdash/libs/simplebar/simplebar.min.js"></script>
<script src="./cssdash/libs/node-waves/waves.min.js"></script>
<script src="./cssdash/libs/feather-icons/feather.min.js"></script>
<!-- pace js -->
<script src="./cssdash/libs/pace-js/pace.min.js"></script>

  

                <!-- Required datatable js -->
                <script
                    src="./cssdash/libs/datatables.net/js/jquery.dataTables.min.js"></script>
                <script
                    src="./cssdash/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
                <!-- Responsive examples -->
                <script
                    src="./cssdash/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
                <script
                    src="./cssdash/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
                <!-- init js -->
                <script src="./cssdash/js/pages/datatable-pages.init.js"></script>
                
                

  <script src="./cssdash/js/app.js"></script>

  
</body>

</html>