<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>Nuevo cliente</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
  <meta content="Themesbrand" name="author">
  <!-- JQUERY 3.4 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App favicon -->
  <link rel="shortcut icon" href="../directorio_dash/images/favicon.png">

  <base href="#">
 <!-- datepicker css -->
 <link rel="stylesheet" href="../directorio_dash/libs/flatpickr/flatpickr.min.css">

  <!-- preloader css -->
  <link rel="stylesheet" href="../directorio_dash/css/preloader.min.css" type="text/css" />
  <!-- Bootstrap Css -->
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css/bootstrap.min.css" id="bootstrap-style" />
  <!-- Icons Css -->
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css/icons.min.css" />
  <!-- App Css-->
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css/app.min.css" id="app-style" />
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>

  <!-- nouisliderribute css -->
  <link rel="stylesheet" href="../directorio_dash/libs/nouislider/nouislider.min.css">

  <!-- ==========FIXME: CSS DEL FORMULARIO ================= -->
  <link rel="stylesheet" href="../css/mainarchivos.css" />
  <link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/colors.min.css">

 
  <!-- Tipo de letra -->
  <link rel="stylesheet" href="../css/typeFont.css">

  <!-- ==========FIXME: FIN CSS DEL FORMULARIO ================= -->

</head>
  <body>

      <!-- Begin page -->
      <div id="layout-wrapper">

          <!-- =======FIXME: MENU ========================== -->
          <%- include ('./partials/menu.ejs')%>
          <!-- =======FIXME: MENU ========================== -->

          <div class="main-content">
              <div class="page-content">
                  <div class="container-fluid">


                      <!--============================================================-->
                      <!--============= TODO:===== *FORMULARIO* ======= TODO:=========-->
                      <!--============================================================-->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center
                                    justify-content-between" style="margin-bottom: 3%;">
                                    <h4 class="mb-sm-0 font-size-18">Servicio de instalación</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0" style="text-transform: initial;">
                                            <li class="breadcrumb-item"><a href="javascript:
                                                    void(0);">Perfil cliente</a></li>
                                            <li class="breadcrumb-item active" id="reparartexto">Servicio de instalación</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- end page title -->
                      <!-- BEGIN: Content-->
                      <div class="app-content content" style="margin-top:-7px">
                          <!-- Form wizard with step validation section start -->
                          <section id="validation">

                    <div class="card-content collapse show">
                                      <form action="/agendarInstalacion"  id="demo-form2" data-parsley-validate class="form" method="POST" class="steps wizard-circle" id="validarForm">
                            
                             <!-- * ========== Primera fila =======  -->
                           
                             <input type="hidden" hidden name="id_cliente" value="<%= agendarInstalacion.id %>">
                             <input type="hidden" hidden name="codigo_cliente" value="<%= agendarInstalacion.id_cliente %>">
                             
                                        <div class="row justify-content-center" style="text-align:center; ">
                                            <div class="col-xl-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title"></h4>
                                                        <p class="card-title-desc" >Por favor introduce los días y el rango de horas que mejor se acomoden a la disponibilidad del cliente,
                                                             con esta información un administrador de  
                                                        <b>3C Sigma Water System</b>  agendará la cita para la instalación del producto solicitado </p>
                                                    </div><!-- end card header -->
                                                <style>
                                                    .colorBoton{
                                                    background: #545a6d;
                                                    }
                                                </style>
                                                  
                                                        <div class="row justify-content-center">
                                                            <div class="col-xl-12">
                                                                <label for="">Día disponibles para la instalación<span class="danger">*</span></label>
                                                                <div class="btn-group btn-group-sm mt-2" required role="group" aria-label="Basic checkbox toggle button group">
                                                                  
                                                                    <input type="checkbox" class="btn-check" id="btncheck1" name="lunes" value="lunes" autocomplete="off" >
                                                                    <label class="btn btn-primary colorBoton" for="btncheck1">Lunes</label>
                
                                                                    <input type="checkbox" class="btn-check" id="btncheck2"  name="martes"  value="martes" autocomplete="off">
                                                                    <label class="btn btn-primary colorBoton" for="btncheck2" >Martes</label>
                
                                                                    <input type="checkbox" class="btn-check" id="btncheck3"  name="miercoles" value="miercoles"  autocomplete="off">
                                                                    <label class="btn btn-primary colorBoton" for="btncheck3">Miercoles</label>
                
                                                                    <input type="checkbox" class="btn-check" id="btncheck4"  name="jueves" value="jueves"  autocomplete="off">
                                                                    <label class="btn btn-primary colorBoton" for="btncheck4">Jueves</label>
                
                                                                    <input type="checkbox" class="btn-check" id="btncheck5"  name="viernes"value="viernes"   autocomplete="off">
                                                                    <label class="btn btn-primary colorBoton" for="btncheck5">Viernes</label>
                
                                                                    <input type="checkbox" class="btn-check" id="btncheck6"  name="sabado" value="sabado"  autocomplete="off">
                                                                    <label class="btn btn-primary colorBoton" for="btncheck6">Sabado</label>
                
                                                                    <input type="checkbox" class="btn-check" id="btncheck7"  name="domingo" value="domingo"  autocomplete="off">
                                                                    <label class="btn btn-primary colorBoton" for="btncheck7">Domingo</label>
                                                                </div>
                                                            </div>
                                                            <!-- end col -->
       
                                                            <div class="col-lg-4">
                                                                <div class="mt-3 mt-lg-0">
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Desde</label>
                                                                        <input type="time" class="form-control"  name="fechaInicial" >
                                                                    </div>
                                                              </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="mt-3 mt-lg-0">
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Hasta</label>
                                                                        <input type="time" class="form-control" name="fechaFinal" >
                                                                    </div>
                                                              </div>
                                                            </div>

                                                               <div class="row " > 
                                                                <div>
                                                                    <div class="form-group">
                                                                        <label for="nota">Nota de la solicitud</label>
                                                                        <textarea class="form-control"  id="nota" name="nota_solicitud" ></textarea>
                                                                 </div> 
                                                           </div> 
                                                      </div> 
                                                       
                
                                                            <!-- end row -->
                                                        </div>
                                                   
                                                </div><!-- end card -->
                                            </div><!-- end col -->
                                         
                                          
                                        </div>
                       
                                              </br>
                        <center><button type="submit" style="border-radius:15px;" class="btn btn-primary">Guardar</button></center>

                                      </form>

                                  </div>
                            
                          </section>
                          
                      </div>
            
                  </div>
              </div>

              <!-- =======FIXME: copyright ========================== -->
              <%- include ('./partials/copyright.ejs')%>
              <!-- =======FIXME: copyright ========================== -->


          </div>
      </div>


      <!-- Right Sidebar -->
      <div class="right-bar">
          <div data-simplebar class="h-100">
              <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                  <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

                  <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                      <i class="mdi mdi-close noti-icon"></i>
                  </a>
              </div>

              <!-- Settings -->

          </div> <!-- end slimscroll-menu-->
      </div>




<!-- * SCRIPTS DEL CALENDARIO DE NUEVO CLIENTE -->
<script src="../directorio_nuevoCliente/js/jquery-ui.js"></script>
<script src="../directorio_nuevoCliente/js/jquery-ui.min.js"></script>
<!-- * SCRIPTS DEL CALENDARIO DE NUEVO CLIENTE -->


<!-- JAVASCRIPT -->
<script src="../directorio_dash/js/scripts_personalizadosdash.js"></script>
<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../libs/metismenu/metisMenu.min.js"></script>
<script src="../libs/simplebar/simplebar.min.js"></script>
<script src="../libs/node-waves/waves.min.js"></script>
<script src="../libs/feather-icons/feather.min.js"></script>

<script src="../directorio_dash/js/app.js"></script>


<!-- ==========FIXME: JS DEL FORMULARIO ================= -->

<!-- BEGIN: Vendor JS-->
<script src="../directorio_nuevoCliente/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="../directorio_nuevoCliente/js/app-menu.min.js"></script>
<script src="../directorio_nuevoCliente/js/app.min.js"></script>

<!-- BEGIN: Page JS-->
<script src="../directorio_nuevoCliente/js/breadcrumbs-with-stats.min.js"></script>

<script src="../directorio_nuevoCliente/js/estilosPropios.js"></script>

<!-- * SCRIPTS DEL CALENDARIO DE NUEVO CLIENTE -->
<script src="../directorio_nuevoCliente/js/jquery-ui.js"></script>
<script src="../directorio_nuevoCliente/js/jquery-ui.min.js"></script>
<!-- * SCRIPTS DEL CALENDARIO DE NUEVO CLIENTE -->

   <!-- nouisliderribute js -->
   <script src="../directorio_dash/libs/nouislider/nouislider.min.js"></script>
   <script src="../directorio_dash/libs/wnumb/wNumb.min.js"></script>

   
        <!-- color picker js -->
        <script src="../directorio_dash/libs/@simonwep/pickr/pickr.min.js"></script>
      

        <!-- datepicker js -->
        <script src="../directorio_dash/libs/flatpickr/flatpickr.min.js"></script>

        <!-- init js -->
        <script src="../directorio_dash/js/pages/form-advanced.init.js"></script>

        <script src="../directorio_dash/js/app.js"></script>


</body>

</html>