<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8" />
<title>Registro de instalación</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
<meta content="Themesbrand" name="author">
<!-- JQUERY 3.4 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- App favicon -->
<link rel="shortcut icon" href="../directorio_dash/images/favicon.png">

<base href="#">

<!-- preloader css -->
<link rel="stylesheet" href="./directorio_dash/css/preloader.min.css" type="text/css" />
<!-- Bootstrap Css -->
<link rel="stylesheet" type="text/css" href="../directorio_dash/css/bootstrap.min.css" id="bootstrap-style" />
<!-- Icons Css -->
<link rel="stylesheet" type="text/css" href="../directorio_dash/css/icons.min.css" />
<!-- App Css-->
<link rel="stylesheet" type="text/css" href="../directorio_dash/css/app.min.css" id="app-style" />
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>


<!-- ==========FIXME: CSS DEL FORMULARIO ================= -->

<link rel="stylesheet" href="../css/mainarchivos.css" />
<link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="../directorio_nuevoCliente/css/colors.min.css">

<!--* CSS DE CALENDARIO -->
<link rel="stylesheet" href="../directorio_nuevoCliente/css/jquery-ui.css">
<link rel="stylesheet" href="../directorio_nuevoCliente/css/ jquery-ui.min.css">

<!-- ==========FIXME: FIN CSS DEL FORMULARIO ================= -->

</head>

<body>
    <div id="layout-wrapper">

        <!-- =======FIXME: MENU ========================== -->
        <%- include ('./partials/menu.ejs')%>
        <!-- =======FIXME: MENU ========================== -->
      
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
      
                      <!--============================================================-->
                      <!--============= TODO:===== *FORMULARIO* ======= TODO:=========-->
                      <!--============================================================-->
                      <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center
                                justify-content-between" style="margin-bottom: 3%;">
                                <h4 class="mb-sm-0 font-size-18">Servicio de instalación</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0" style="text-transform: initial;">
                                        <li class="breadcrumb-item"><a href="javascript:
                                                void(0);">Perfil cliente</a></li>
                                        <li class="breadcrumb-item active" id="reparartexto">Servicio de instalación</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                      <!-- end page title -->
                    <!-- BEGIN: Content-->
                    <div class="app-content content" style="margin-top:-7px">
                        <!-- Form wizard with step validation section start -->
                        <section id="validation">
                  <div class="card-content collapse show">

                        <!-- * ========== Primera fila =======  -->
                        <input type="hidden" hidden id="id_cliente" value="<%= infoCl.id %>">
                        <input type="hidden" hidden id="codigo_cliente" value="<%= infoCl.id_cliente %>">
                                   <div class="row justify-content-center" style="text-align:center; ">
                                       <div class="col-xl-6">
                                           <div class="card">
                                               <div class="card-header">
                                                   <h4 class="card-title"></h4>
                                                   <p class="card-title-desc" >Por favor introduce los días y el rango de horas que mejor se acomoden a la disponibilidad del cliente,
                                                        con esta información un administrador de  
                                                   <b>3C Sigma Water System</b>  agendará la cita para la instalación del producto solicitado </p>
                                               </div><!-- end card header -->
                                           <style>
                                               .colorBoton{
                                               background: #545a6d;
                                               }
                                           </style>
                                                   <div class="row justify-content-center">
                                                       <div class="col-xl-12">
                                                           <label for="">Día disponibles para la instalación</label>
                                                           <div class="btn-group btn-group-sm mt-2" required role="group" aria-label="Basic checkbox toggle button group">
                                                             
                                                               <input type="checkbox" class="btn-check" id="lunes" autocomplete="off" >
                                                               <label class="btn btn-primary colorBoton" for="lunes">Lunes</label>
           
                                                               <input type="checkbox" class="btn-check" id="martes" autocomplete="off">
                                                               <label class="btn btn-primary colorBoton" for="martes" >Martes</label>
           
                                                               <input type="checkbox" class="btn-check" id="miercoles" autocomplete="off">
                                                               <label class="btn btn-primary colorBoton" for="miercoles">Miercoles</label>
           
                                                               <input type="checkbox" class="btn-check" id="jueves" autocomplete="off">
                                                               <label class="btn btn-primary colorBoton" for="jueves">Jueves</label>
           
                                                               <input type="checkbox" class="btn-check" id="viernes" autocomplete="off">
                                                               <label class="btn btn-primary colorBoton" for="viernes">Viernes</label>
           
                                                               <input type="checkbox" class="btn-check" id="sabado" autocomplete="off">
                                                               <label class="btn btn-primary colorBoton" for="sabado">Sabado</label>
           
                                                               <input type="checkbox" class="btn-check" id="domingo" autocomplete="off">
                                                               <label class="btn btn-primary colorBoton" for="domingo">Domingo</label>
                                                           </div>
                                                       </div>
                                                       <!-- end col -->
  
                                                       <div class="col-lg-3">
                                                           <div class="mt-3 mt-lg-0">
                                                               <div class="mb-3">
                                                                   <label class="form-label">Desde</label>
                                                                   <input type="time" id="fechaInicial" class="form-control">
                                                               </div>
                                                         </div>
                                                       </div>
                                                      
                                                       <div class="col-lg-3">
                                                           <div class="mt-3 mt-lg-0">
                                                               <div class="mb-3">
                                                                   <label class="form-label">Hasta</label>
                                                                   <input type="time" id="fechaFinal" class="form-control" >
                                                               </div>
                                                         </div>
                                                       </div>
                                                       <div class="col-md-4">
                                                           <div class="form-group">
                                                               <label for="fechaInstalacion" style="width: max-content;">¿Tienes una fecha específica?</label>
                                                               <input type="tex" placeholder="Selecciona la fecha"
                                                                class="form-control" id="fechacita" required readonly> 
                                                           </div>
                                                     </div>

                                                          <div class="row"> 
                                                           <div>
                                                               <div class="form-group">
                                                                   <label for="nota">Nota de la solicitud</label>
                                                                   <textarea class="form-control" id="nota" ></textarea>
                                                            </div> 
                                                      </div> 
                                                   </div> 
                                                 </div>
                                           </div><!-- end card -->
                                       </div><!-- end col -->
                                   </div>
                                    </br>
                   <center><button type="button" style="border-radius:15px;" onclick="enviarAgenda()" class="btn btn-primary">Guardar</button></center>
                                </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- =======FIXME: copyright ========================== -->
            <%- include ('./partials/copyright.ejs')%>
            <!-- =======FIXME: copyright ========================== -->
        </div>
      </div>
<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title d-flex align-items-center bg-dark p-3">
  
            <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->
  
            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>
        <!-- Settings -->
    </div> <!-- end slimscroll-menu-->
  </div>
  
  <!-- JAVASCRIPT -->
  <script src="../directorio_dash/js/scripts_personalizadosdash.js"></script>
  <script src="../libs/jquery/jquery.min.js"></script>
  <script src="../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../libs/metismenu/metisMenu.min.js"></script>
  <script src="../libs/simplebar/simplebar.min.js"></script>
  <script src="../libs/node-waves/waves.min.js"></script>
  <script src="../libs/feather-icons/feather.min.js"></script>
  <script src="../directorio_dash/js/app.js"></script>
  
  <!-- ==========FIXME: JS DEL FORMULARIO ================= -->
  <!-- BEGIN: Vendor JS-->
  <script src="../directorio_nuevoCliente/js/vendors.min.js"></script>
  <!-- BEGIN Vendor JS-->
  
  <!-- BEGIN: Theme JS-->
  <script src="../directorio_nuevoCliente/js/app-menu.min.js"></script>
  <script src="../directorio_nuevoCliente/js/app.min.js"></script>
  
  <!-- BEGIN: Page JS-->
  <script src="../directorio_nuevoCliente/js/breadcrumbs-with-stats.min.js"></script>
  <script src="../directorio_nuevoCliente/js/estilosPropios.js"></script>
  
  <!-- MENSAJES DE LA VALIDACIÓN DE EVIDENCIA -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
  <script src="../js/alertify.min.js"></script>
  <script src="../js/alertify.js"></script>

  <!--  SCRIPTS DEL CALENDARIO DE NUEVO CLIENTE -->
  <script src="../directorio_nuevoCliente/js/jquery-ui.js"></script>
  <script src="../directorio_nuevoCliente/js/jquery-ui.min.js"></script>

  <script>
    $.datepicker.regional['es'] = {
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'mm/dd/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    const dateToday = new Date();
    const yrRangeFuture = (dateToday.getFullYear()) + ":" + '3000';
    $(function () {
        $("#fechacita").datepicker({
            yearRange: yrRangeFuture,
            minDate: '0M',
            changeMonth: true,
            changeYear: true
        });
    });

    let time1, time2
    let inputEle = document.getElementById('fechaInicial');
    var inputEle2 = document.getElementById('fechaFinal');

       function enviarAgenda(){
    // => Capturando valores del primer imput time 
        let timeSplit = inputEle.value.split(':'),
                hours,
                minutes,
                meridian;
            hours = timeSplit[0];
            minutes = timeSplit[1];
    // => Validando las jornadas
            if (hours > 12) {
                meridian = 'PM';
                hours -= 12 ;
            } else if (hours < 12) {
                meridian = 'AM';
                if (hours == 0) {
                    hours = '' ;
                    minutes = '';
                    meridian = '';
                }
            } else {
                meridian = 'PM';
            }
    // => Capturando valores del segundo imput time 
            let timeSplit2 = inputEle2.value.split(':'),
                hours2,
                minutes2,
                meridian2;
            hours2 = timeSplit2[0];
            minutes2 = timeSplit2[1];

            if (hours2 > 12) {
                meridian2 = 'PM';
                hours2 -= 12;
            } else if (hours2 < 12) {
                meridian2 = 'AM';
                if (hours2 == 0) {
                    hours2 = '';
                    minutes2 = '';
                    meridian2 = '';
                }
            } else {
                meridian2 = 'PM';
            }

            time1 = hours + ' ' + minutes + ' ' + meridian
            time2 = hours2 + ' ' + minutes2 + ' ' + meridian2
            
            const id_cliente = $("#id_cliente").val();
            const codigo_cliente = $("#codigo_cliente").val();
            const fechaInicial = time1;
            const fechaFinal = time2;
            let lunes = $("#lunes").is(':checked') 
            let martes = $("#martes").is(':checked')
            let miercoles = $("#miercoles").is(':checked')
            let jueves = $("#jueves").is(':checked')
            let viernes = $("#viernes").is(':checked')
            let sabado = $("#sabado").is(':checked')
            let domingo = $("#domingo").is(':checked')
            const fecha_especifica = $("#fechacita").val();
            const nota_solicitud = $("#nota").val();
 
        fetch('/agendarInstalacion', {
             
            method: 'POST',
            body: JSON.stringify({id_cliente,codigo_cliente,fechaInicial,fechaFinal,lunes,martes,miercoles,jueves,viernes,sabado,domingo,fecha_especifica,nota_solicitud}),
            headers: { 'Content-Type': 'application/json' }

          }).then(res => res.json())
            .catch(error => console.error('Error', error))
         .then(response => {
                  if(response)   {
                    // Swal.fire(
                    //            'Enviado!',
                    //            'Agenda solicitada',
                    //            'success'
                    //         )
                            window.location.replace('/perfil-clientes/' + codigo_cliente);
                       }else {
                           Swal.fire(
                               '¡Error!',
                               'Ocurrió un problema al guardar los cambios, comunicate con soporte',
                               'error'
                            )
                       }
                   })
            }
     
  </script>
  </body>
  
  </html>
  
  
  
  
  
  
  
  