<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Disclaimer 3c sigma water system  </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cssnuevocliente/css/estiloCanvas.css">
    <!-- App favicon -->
    <link rel="shortcut icon" href="./cssdash/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="./cssnuevocliente/css/bootstrapp.min.css">
    <link rel="stylesheet" href="./cssnuevocliente/css/estiloCanvas.css">
    <style>
        img {
            display: block;
           
            margin-right: auto;
        }
    </style>
</head>

<body >

    <div class="container" style="margin-left: 15%;">
         <div class="contenedor">
         <img src="./img/imagenTerminos.jpg" alt="">
      
        <div class="centrado">

            <b>DIVULGACIÓN DE RESPONSABILIDAD</b>
    

            <p>Al hacer clic en Continuar, promete que toda la información es verdadera y completa. Tiene la intención de que el
                vendedor y/o el dealer confíen en esta información para decidir si le otorgan o no crédito. Usted autoriza una
                investigación completa y la divulgación de su historial crediticio y su historial laboral. También autoriza al
                vendedor y/o dealer a divulgar información sobre la experiencia crediticia con ellos. Usted acepta recibir
                llamadas de mensajes pregrabados o marcados automáticamente de nosotros o de aquellos que actúan en nuestro
                nombre en cualquier número de teléfono móvil que nos proporcione.</p>
            <p><b>AVISO DE INFORME DE CRÉDITO:</b> Podemos solicitar un informe de crédito para cualquier propósito legítimo asociado
                con su solicitud de crédito, extensión de crédito, modificación de los términos de su contrato de crédito o
                cobro en su cuenta. Si lo solicita, le informaremos si se ordenó dicho informe y le daremos el nombre y la
                dirección de la agencia de informes crediticios que proporcionó el informe.</p>
        
                <img src="" alt="Firma del usuario" id="firma">
                
             <h2>______________</h2>
                <p>Yo accepto</p>
            <br>



        </div>
          </div>

        </div>
    <script>
        if (window.opener) {
            document.querySelector("#firma").src = window.opener.obtenerImagen();
            // Imprimir documento. Si no quieres imprimir, remueve la siguiente línea
            
        }
    </script>
   
</body>

</html>