<html>
<head>
    <title>Enable/Disable a HTML button</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    
      <select class="form-select required" required id="reco" name="sistemaElegido" >
        <option style="background:gray;color: white;" value=''>sdf</option>
        <br>
        <option  value="Whole System">Whole System</option>
        <option value="Reverse Osmosis System" title="R.O.S.">Reverse Osmosis System</option>
    </select>



    <input type="submit" id="submit" disabled="disabled" />

    <script>
        $(document).ready(function () {
            $('#reco').on('input change', function () {
                if ($(this).val() != '') {
                    $('#submit').prop('disabled', false);
                }
                else {
                    $('#submit').prop('disabled', true);
                }
            });
        });
    </script>


</body>

</html>