<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Editable | Minia - Minimal Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_dash/images/favicon.ico">

    <!-- preloader css -->
    <link rel="stylesheet" href="../directorio_dash/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="../directorio_dash/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../directorio_dash/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../directorio_dash/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>

    <select id="producto" name="producto" onchange="ShowSelected();">
        <option value="Whole System">Whole System</option>
        <option value="Reverse Osmosis System">Reverse Osmosis System</option>
        </select>
 


        <script type="text/javascript">
            function ShowSelected()  {
            /* Para obtener el valor */
            var cod = document.getElementById("producto").value;
            alert(cod);
          }
        </script>

    <!-- JAVASCRIPT -->
    <script src="../directorio_dash/libs/jquery/jquery.min.js"></script>
    <script src="../directorio_dash/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../directorio_dash/libs/metismenu/metisMenu.min.js"></script>
    <script src="../directorio_dash/libs/simplebar/simplebar.min.js"></script>
    <script src="../directorio_dash/libs/node-waves/waves.min.js"></script>
    <script src="../directorio_dash/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->
    <script src="../directorio_dash/libs/pace-js/pace.min.js"></script>

    <!-- Table Editable plugin -->
    <script src="../directorio_dash/libs/table-edits/build/table-edits.min.js"></script>

    <script src="../directorio_dash/js/pages/table-editable.int.js"></script>

    <script src="../directorio_dash/js/app.js"></script>





</body>

</html>