<!DOCTYPE html>
<html>
<head></head>
<body>
    <input type="file" id="pic" name="pic" />
    <canvas id="preview"></canvas>
    <div id="actions">
        <form action="/Home/UploadImage" method="POST">
            <input type="text" id="imageName" name="imageName" />
            <input type="hidden" id="contentType" name="contentType" />
            <input type="hidden" id="imageData" name="imageData" />
            <input id="btnSave" type="submit" value="Save" />
        </form>
    </div>
    <div id="result"></div>
    <script src="~/App/boot.js"></script>
</body>
</html>