<!DOCTYPE html>
<html>

<head>


    <link rel="stylesheet" href="./css/alertify.css">
</head>


<body>
    <style>
        img {
  width: 150px;
  height: 150px;
  margin-top: 25px;
}
    </style>
   <form id="form1">
    <input type='file' id="imgInp" onchange="readImage()" />
    <br>
    <img id="blah" src="https://via.placeholder.com/150" alt="Tu imagen" />
  </form> 

    <script src="./js/alertify.min.js"></script>
    <script src="./js/alertify.js"></script>
    <script>
function readImage () {
var fileInput = document.getElementById('imgInp')
            var filePath = fileInput.value;
            var allowedExtensions = /(.jpg|.jpeg)$/i;
            var archivo = fileInput.files[0];
            if(!allowedExtensions.exec(filePath)){
                   alert(`no es el formato`);
                fileInput.value = '';
                return false;
            }else if(archivo.size > 2000000) {
                 alert(`no es el tamaño`);
                fileInput.value = '';
                return false;
            }else {
     if (fileInput.files && fileInput.files[0]) {
     var reader = new FileReader();
    reader.onload = function (e) {
        $('#blah').attr('src', e.target.result); // Renderizamos la imagen
     }
     reader.readAsDataURL(fileInput.files[0]);
     }
    }
     }

 $("#imgInp").change(function () {  // Código a ejecutar cuando se detecta un cambio de archivO
  readImage(this);
 });
    </script>

</body>

</html>