<!DOCTYPE html>
<html>
<head></head>
<body>
    <!-- <form class="" action="/registrar" method="post">
        <input type="text" name="nombre" value="" placeholder="nombre"><br>
        <input type="text" name="correo" value="" placeholder="correo"><br>
        <textarea name="mensaje" rows="4" cols="40" placeholder="mensaje"></textarea><br>
        <button type="submit" name="">enviar</button>
       </form> -->
</body>
</html>