
<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Tabs & Accordions | Minia - Minimal Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="../directorio_dash/images/favicon.ico">

        <!-- preloader css -->
        <link rel="stylesheet" href="../directorio_dash/css/preloader.min.css" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="../directorio_dash/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="../directorio_dash/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="../directorio_dash/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>

    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                      <div class="row">
                            <div class="col-xl-6">
                                        <div class="card">
                                                <div class="card-body">
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-pills nav-justified" role="tablist">
                                                        <li class="nav-item waves-effect waves-light">
                                                            <a class="nav-link active" data-bs-toggle="tab" href="#home-1" role="tab">
                                                                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                                <span class="d-none d-sm-block">Home</span> 
                                                            </a>
                                                        </li>
                                                        <li class="nav-item waves-effect waves-light">
                                                            <a class="nav-link" data-bs-toggle="tab" href="#profile-1" role="tab">
                                                                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                                <span class="d-none d-sm-block">Profile</span> 
                                                            </a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        <!-- Tab panes -->
                                        <div class="card">
                                            <div class="card-body">
                                        <div class="tab-content p-3 text-muted">
                                            <div class="tab-pane active" id="home-1" role="tabpanel">
                                                <p class="mb-0">
                                                    Raw denim you probably haven't heard of them jean shorts Austin.
                                                    Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
                                                    cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                                                    butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
                                                    qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                                                    iphone. Seitan aliquip quis cardigan american apparel, butcher
                                                    voluptate nisi qui.
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="profile-1" role="tabpanel">
                                                <p class="mb-0">
                                                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                                    single-origin coffee squid. Exercitation +1 labore velit, blog
                                                    sartorial PBR leggings next level wes anderson artisan four loko
                                                    farm-to-table craft beer twee. Qui photo booth letterpress,
                                                    commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                                                    vinyl cillum PBR. Homo nostrud organic, assumenda labore
                                                    aesthetic magna 8-bit.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    

        <!-- JAVASCRIPT -->
        <script src="../directorio_dash/libs/jquery/jquery.min.js"></script>
        <script src="../directorio_dash/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../directorio_dash/libs/metismenu/metisMenu.min.js"></script>
        <script src="../directorio_dash/libs/simplebar/simplebar.min.js"></script>
        <script src="../directorio_dash/libs/node-waves/waves.min.js"></script>
        <script src="../directorio_dash/libs/feather-icons/feather.min.js"></script>
        <!-- pace js -->
        <script src="../directorio_dash/libs/pace-js/pace.min.js"></script>

        <script src="../directorio_dash/js/app.js"></script>

    </body>
</html>
