<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Perfil clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_perfilClientes/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/colors.min.css">

    <base href="#">



    <!-- DataTables -->
    <link href="../directorio_perfilClientes/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
       type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="../directorio_perfilClientes/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />

    <!-- preloader css -->
    <link rel="stylesheet" href="../directorio_perfilClientes/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_perfilClientes/css/bootstrap.min.css"
        id="bootstrap-style" />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_perfilClientes/css/icons.min.css" />
    <!-- App Css-->
    <link rel="stylesheet" type="text/css" href="../directorio_perfilClientes/css/app.min.css" id="app-style" />
    <!-- Tipo de letra -->
    <link rel="stylesheet" href="../css/typeFont.css" type="text/css" />

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

       <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                                            
                  
            <!-- * =============>> Datos del cliente  <<===================== -->
                    <div class="row">
                            <div class="col-xl-8" >
                                <div class="">
                                    <div class="card-body">
                                      
                                        <div class="row">
                                            <div class="col-lg-14">
                                                <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                                    <div class="card-header bg-transparent border-primary">
                                                        <h5 class="my-0 text-primary">
                                                            <i class="fa fa-user-circle"></i>&nbsp; Datos del cliente</h5>

                                                         

                                                      </div>
                                                    <div class="card-body">

                                                        <div class="table-responsive">
                                                            <table class="table mb-0">

                                        
                                                         
                                                            </table>
                                                        </div>
   
                                                    </div>

                                                </div>
                                            </div><!-- end col -->

                                             </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card -->

                                </div><!-- end col -->
                              </div>

                                <div class="col-lg-4">
                                    <div class="card bg-primary border-primary text-white-50"
                                     style=" background: linear-gradient(189.55deg, #FED061 -131.52%, #a39e9e -11.9%, #7b748d 129.46%);margin-top: 6%;">
                                        <div class="card-body">
                                            <h6 class="mb-3 text-white">Estado del servicio</h6>
                                            <p class="card-text" style="color:white;">
                                                Hasta la fecha el cliente no ha sido visitado 
                                                por un vendedor
                                            </p>
                                            
                                        </div>
                                    </div>
                                 
                                </div>
                                <!-- end col -->
                     </div>
            <!-- * =============>> FIN Datos del cliente  <<===================== -->

            <!-- * =============>> Test de agua  <<===================== -->
            <div class="row">
                <div class="col-xl-8">
                    <div class="">
                        <div class="card-body">
                          
                            <div class="row">
                                <div class="col-lg-14">
                                    <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                      
                         <div class="card">
                         
                          <div class="card-body">

                              <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                                  <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>Position</th>
                                      <th>Office</th>
                                      <th>Age</th>
                                      <th>Start date</th>
                                      <th>Salary</th>
                                  </tr>
                                  </thead>


                                  <tbody>
                               
                                  <tr>
                                      <td>Zenaida Frank</td>
                                      <td>Software Engineer</td>
                                      <td>New York</td>
                                      <td>63</td>
                                      <td>2010/01/04</td>
                                      <td>$125,250</td>
                                  </tr>
                                  <tr>
                                      <td>Zorita Serrano</td>
                                      <td>Software Engineer</td>
                                      <td>San Francisco</td>
                                      <td>56</td>
                                      <td>2012/06/01</td>
                                      <td>$115,000</td>
                                  </tr>
                                  <tr>
                                      <td>Jennifer Acosta</td>
                                      <td>Junior Javascript Developer</td>
                                      <td>Edinburgh</td>
                                      <td>43</td>
                                      <td>2013/02/01</td>
                                      <td>$75,650</td>
                                  </tr>
                                  <tr>
                                      <td>Cara Stevens</td>
                                      <td>Sales Assistant</td>
                                      <td>New York</td>
                                      <td>46</td>
                                      <td>2011/12/06</td>
                                      <td>$145,600</td>
                                  </tr>
                                  <tr>
                                      <td>Hermione Butler</td>
                                      <td>Regional Director</td>
                                      <td>London</td>
                                      <td>47</td>
                                      <td>2011/03/21</td>
                                      <td>$356,250</td>
                                  </tr>
                                  <tr>
                                      <td>Lael Greer</td>
                                      <td>Systems Administrator</td>
                                      <td>London</td>
                                      <td>21</td>
                                      <td>2009/02/27</td>
                                      <td>$103,500</td>
                                  </tr>
                                  <tr>
                                      <td>Jonas Alexander</td>
                                      <td>Developer</td>
                                      <td>San Francisco</td>
                                      <td>30</td>
                                      <td>2010/07/14</td>
                                      <td>$86,500</td>
                                  </tr>
                                  <tr>
                                      <td>Shad Decker</td>
                                      <td>Regional Director</td>
                                      <td>Edinburgh</td>
                                      <td>51</td>
                                      <td>2008/11/13</td>
                                      <td>$183,000</td>
                                  </tr>
                                  <tr>
                                      <td>Michael Bruce</td>
                                      <td>Javascript Developer</td>
                                      <td>Singapore</td>
                                      <td>29</td>
                                      <td>2011/06/27</td>
                                      <td>$183,000</td>
                                  </tr>
                                  <tr>
                                      <td>Donna Snider</td>
                                      <td>Customer Support</td>
                                      <td>New York</td>
                                      <td>27</td>
                                      <td>2011/01/25</td>
                                      <td>$112,000</td>
                                  </tr>
                                  </tbody>
                              </table>

                          </div>
                      </div>
               
         
           



                                    </div>
                                </div><!-- end col -->

                                 </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div><!-- end col -->
                 </div>


             </div>
            <!-- * =============>> FIN Test de agua  <<===================== -->

            <!-- * =============>> Ahorro  <<===================== -->
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="">
                                        <div class="card-body">
                                          
                                            <div class="row">
                                                <div class="col-lg-14">
                                                    <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                                        <div class="card-header bg-transparent border-primary">
                                                            <h5 class="my-0 text-primary">
                                                                <i class="fas fa-money-bill"></i>&nbsp; Ahorro</h5>
    
                                                                <a href="" id="verBtn">
                                                                    <button class="btn btn-primary" id="btn_credito" type="button" style="float: right;margin-top: -4%;border-radius:13px;">Calcular</button>
                                                                </a> 
    
                                                          </div>
                                                          <div class="card-body">

                                                            <div class="table-responsive">
                                                                <table class="table mb-0">
    
                                                                    <tbody>
                                                                        <tr>
                                                                            
                                                                             <td style="width: 26%;"><strong style="font-weight: 800 !important;color: black;">1.</strong> Agua embotellada</td>
                                                                             <td><b>xxxxxx</b></td>
                                                                             <td><strong style="font-weight: 800 !important;color: black;">4.</strong> Agua caliente</td>
                                                                             <td><b>xxxxxx</b></td>
                                                                        </tr>
                                                                        <tr>
                                                                           
                                                                            <td><strong style="font-weight: 800 !important;color: black;">2.</strong> Jabones</td>
                                                                            <td><b>xxxxxx</b></td>
                                                                            <td><strong style="font-weight: 800 !important;color: black;">5.</strong> Plomería y electrodomésticos</td>
                                                                            <td><b>xxxxxx</b></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><strong style="font-weight: 800 !important;color: black;">3.</strong> Productos de limpieza</td>
                                                                             <td><b>xxxxxx</b></td>
                                                                            <td style="width: 26%;"><strong style="font-weight: 800 !important;color: black;">6.</strong> Ropa y lencería</td>
                                                                             <td><b>xxxxxx</b></td>
                                                                        </tr>
                                                               
                                                                    </tbody>
                                                                </table>
                                                            </div>
       
                                                        </div>
    
    
                                                    </div>
                                                </div><!-- end col -->
    
                                                 </div>
                                            <!-- end card-body -->
                                        </div>
                                        <!-- end card -->
    
                                    </div><!-- end col -->
                                 </div>
    
                                  
                                 <div class="col-xl-4">
                                    <!-- card -->
                                    <div class="card" style="margin-top: 5%;">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Ahorro total</h4>
                                        </div>
                                        <!-- card body -->
                                        <div class="card-body">

                                        
                
                                            <div class="row align-items-center">
                                                <div class="col-xl-13">
                                                    <div>
                                                        <div id="market-overview" data-colors='["#a99bcb", "#50368c"]' class="apex-charts"></div>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                        <!-- end card -->
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row-->
                

    
                             </div>
            <!-- * =============>> FIN Ahorro  <<===================== -->
     
            <!-- * =============>> Servicio  <<===================== -->
            <div class="row">
                <div class="col-xl-8">
                    <div class="">
                        <div class="card-body">
                          
                            <div class="row">
                                <div class="col-lg-14">
                                    <div class="card border border-primary" style="box-shadow:0px 0px 10px #e7e7e7">
                                        <div class="card-header bg-transparent border-primary">
                                            <h5 class="my-0 text-primary">
                                                <i class="fas fa-wrench"></i>&nbsp; Instalación</h5>

                                                <a href="" id="verBtn">
                                                    <button class="btn btn-primary" id="btn_credito" type="button" style="float: right;margin-top: -4%;border-radius:13px;">Registrar Instalación</button>
                                                </a> 

                                          </div>
                                          <div class="card-body">

                                            <div class="table-responsive">
                                                <table class="table mb-0">

                                                    <tbody>
                                                        <tr>
                                                            
                                                             <td style="width: 26%;">Fecha de instalación</td>
                                                             <td><b>xxxxxx</b></td>
                                                             <td>Instalador</td>
                                                             <td><b>xxxxxx</b></td>
                                                        </tr>
                                                        <tr>
                                                           
                                                            <td>Prodcuto instalado</td>
                                                            <td><b>xxxxxx</b></td>
                                                            <td>Nota de instalación</td>
                                                            <td><b>xxxxxx</b></td>
                                                        </tr>
                                                        <tr>
                                                        
                                               
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                    </div>
                                </div><!-- end col -->

                                 </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div><!-- end col -->
                 </div>

             
             </div>
            <!-- * =============>> FIN Servicio  <<===================== -->



                </div>
                    </div>
                    <!-- =======FIXME: copyright ========================== -->
                    <%- include ('./partials/copyright.ejs')%>
                        <!-- =======FIXME: copyright ========================== -->

                </div>
            </div>


            <!-- Right Sidebar -->
            <div class="right-bar">
                <div data-simplebar class="h-100">
                    <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                        <!-- <h5 class="m-0 me-2 text-white">Theme Customizer</h5> -->

                        <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                            <i class="mdi mdi-close noti-icon"></i>
                        </a>
                    </div>

                    <!-- Settings -->

                

                </div> <!-- end slimscroll-menu-->
            </div>
            <!-- /Right-bar -->

      
        
         <!-- JAVASCRIPT -->
         <script src="./directorio_dash/libs/jquery/jquery.min.js"></script>
         <script src="./directorio_dash/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
         <script src="./directorio_dash/libs/metismenu/metisMenu.min.js"></script>
         <script src="./directorio_dash/libs/simplebar/simplebar.min.js"></script>
         <script src="./directorio_dash/libs/node-waves/waves.min.js"></script>
         <script src="./directorio_dash/libs/feather-icons/feather.min.js"></script>
         <!-- pace js -->
      
 
         <!-- Required datatable js -->
         <script src="./directorio_dash/libs/datatables.net/js/jquery.dataTables.min.js"></script>
         <script src="./directorio_dash/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
         <!-- Buttons examples -->
         <script src="./directorio_dash/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
         <script src="./directorio_dash/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
         <script src="./directorio_dash/libs/jszip/jszip.min.js"></script>
         <script src="./directorio_dash/libs/pdfmake/build/pdfmake.min.js"></script>
         <script src="./directorio_dash/libs/pdfmake/build/vfs_fonts.js"></script>
         <script src="./directorio_dash/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
         <script src="./directorio_dash/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
         <script src="./directorio_dash/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
 
         <!-- Responsive examples -->
         <script src="./directorio_dash/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
         <script src="./directorio_dash/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
 
         <!-- Datatable init js -->
         <script src="./directorio_dash/js/pages/datatables.init.js"></script>    
 
         <script src="./directorio_dash/js/app.js"></script>


</body>

</html>