
  <!--==================FIXME:=====HEADER REGISTER====================  -->
  <%- include ('partials/register/header.ejs')%>
  <!--==================FIXME:=====HEADER REGISTER=====================  -->



  <main>
    <div id="form_container">
      <div class="row">
        <!-- id="contenedorRegistro -->

        <div class="col-lg-7">

          <div id="wizard_container">
            <div id="top-wizard">
              <div id="progressbar"></div>
            </div>


            <!-- /top-wizard -->
            <form action="/registrar" name="example-1" id="wizard" method="post"  enctype="multipart/form-data">
              <input id="website" name="website" type="text" value="">
              <!-- Leave for security protection, read docs for details -->
              <div id="middle-wizard">

                <div class="step">

                  <h3 class="main_question"><strong>1/4</strong>Registro de vendedor</h3>
                  <!-- <h7 class="main_question">3C Sigma Water System</h7> -->
                  <br>
                  <!-- Mensaje de Correo no coincide -->
                  <div class="alert alert-danger alert-border-left alert-dismissible fade show mt-2" id="alertaCorreos" style="padding: 8px 1rem; display: none" role="alert">
                    <i class="fa-solid fa-circle-exclamation me-3 align-middle"></i>
                    <label style="font-size: 14px;"><strong>Atención!</strong> - 
                      <span style="font-weight: 300">Los correos no coinciden</span>
                    </label>
                  </div>
                  <!-- Fin de Alerta -->
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="nombres"  id="nombres" class="form-control required"
                          placeholder="Nombres*">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="apellidos" id="apellidosform" class="form-control required"
                          placeholder="Apellidos *">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="fecha_nacimiento" autocomplete="off"  id="filter-date" class="form-control required"
                          placeholder="Fecha de nacimiento*" >
                      </div>
                    </div>

                  </div>
                  <!-- /row -->

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                      <input type="text" name="telefono_movil" id="telefonoform" class="form-control required" placeholder="Numero de telefono*">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="email" name="correo" id="correo"  class="form-control required"
                          placeholder="Correo*">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="email" name="confirmar_correo" id="confirmar_correo"  class="form-control required"
                          placeholder="Confirmar correo*" onblur="validarCorreo()">
                      </div>
                    </div>
                  </div>

                  <!-- /row -->
                  <div class="row">
                    <div class="col-md-4">
                     <div class="form-group">
                        <input type="tel" name="seguro_social" id="seguro" placeholder="# de seguro social o ITIN "
                          class="form-control required social" required />
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="ciudad" id="ciudad" class="form-control required"
                          placeholder="Ciudad donde vive*">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="direccion" id="direccion" pattern="[a-zA-Z]+"
                          class="form-control required" placeholder="Direccion*">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="apt_suite_unidad" id="Apt / Suite / Unidad" class="form-control "
                          placeholder="Apt / Suite / Unidad">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="codigo_postal" id="postal" class="form-control required"
                          placeholder="Codigo postal*">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="codigo_afiliado" id="afiliado" class="form-control " pattern="[0-9]+" placeholder="Codigo de afiliado" onkeyup="javascript:this.value=this.value.toUpperCase();" minlength="6" maxlength="6" >
                      </div>
                    </div>
                  </div>
                  <!-- /row -->
                </div>

                <!-- /step--2   CONFIGURACION BANCARIA -->
                <div class="step">
                  <h3 class="main_question" style="margin-bottom: 10%;">
                    <strong>2/4</strong>Cuenta bancaria
                  </h3>
                 <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <input type="text" name="nombre_banco" id="banco" class="form-control required"
                          spellcheck="true" pattern="[A-Za-z]+" placeholder="Nombre del Banco*">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="number" name="numero_cuenta" id="cuenta" class="form-control required"
                          placeholder="Numero de cuenta*" pattern="[0-9]+">
                      </div>
                    </div>


                  </div>
                  <!-- /row -->
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <input type="number" name="ruta" id="ruta" class="form-control required" maxlength="9"
                          placeholder="Numero de ruta*" oninput="maxlengthNumber(this);">
                      </div>
                    </div>


                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" name="beneficiario" id="beneficiario" class="form-control required"
                          placeholder="Nombre del beneficiario*">
                      </div>
                    </div>


                  </div>
                  <!-- /row -->
                </div>
                <!-- /step-->
                <!-- /step--3 -->

                <div class="step">

                  <h3 class="main_question" style="margin-bottom: 10%;"><strong>3/4</strong>Carga tus
                    documentos</h3>

                  <div class="row">
                    <div class="col-10">

                      <label class="licencia">Por favor carga el documento solicitado para que
                        podamos realizar el proceso de verificación de identidad
                        <br>
                      </label>
                      <p class="titulolicencia">Licencia de conducir </p>

                      <div class="input-group">
                        <label class="input-group-btn">
                          <span class="btn btn-primary" style="padding: 10px;">
                            Cargar anverso<input type="file" name="licencia" id="campoFile" accept="image/jpg"
                              style="display: none;" id="licencia" class="required">
                            <!-- style="display: none;" class="inputfile" multiple -->
                          </span>
                        </label>
                        <input type="text" class="form-control" style="font-size: 15px;	"
                          placeholder=" Solo archivos .jpg o .png de max 5MB son permitidos" readonly>
                      </div>

                      <div class="input-group">
                        <label class="input-group-btn">
                          <span class="btn btn-primary" style="padding: 10px;"> Cargar reverso<input type="file" 
                              name="licencia_trasera" id="campoFile" accept="image/jpg"
                              style="display: none;" id="licencia" class="required">
                          </span>
                        </label>
                        <input type="text" class="form-control" style="font-size: 15px;	"
                          placeholder=" Solo archivos .jpg o .png de max 5MB son permitidos" readonly>
                      </div>


                    </div>
      

                  </div>
         
                </div>
      
                <div class="submit step">
                  <h3 class="main_question"><strong>4/4</strong>Firma tu solicitud</h3>
                  <div class="form-group">
                    <div class="container">
                      <!-- scroll------------------------------------------  -->

                      <scroll-container>
                        <scroll-page>
                          <p>3C Sigma Holding puede recopilar esta información a través de un sitio web. Al completar
                            esta información, nos está autorizando a recopilar, analizar y retener información
                            relacionada con la prestación de los Servicios.</p>

                          <p>Información que proporciona. Para registrarse como vendedor en 3C Sigma Holding, se le
                            pedirá que proporcione cierta información, incluida su información personal. También se le
                            pedirá que permita que 3C Sigma Holding recopile su información de ubicación desde su
                            dispositivo cuando utilice la aplicación o utilice los servicios. Además, 3C Sigma Holding
                            puede recopilar y almacenar cualquier Información personal que proporcione al usar los
                            Servicios o de alguna otra manera. Esto puede incluir información de identificación, como su
                            nombre, dirección, dirección de correo electrónico y número de teléfono y, si realiza
                            transacciones comerciales con 3C Sigma Holding, información financiera, números de
                            identificación del gobierno y fecha de nacimiento. Si se comunica con 3C Sigma Holding con
                            un servicio de atención al cliente u otra consulta, le proporciona a 3C Sigma Holding el
                            contenido de esa comunicación. Si nos proporciona su número de teléfono, también puede
                            recibir mensajes que le enviamos por SMS como parte de la operación comercial normal de su
                            uso de la Plataforma. Si no desea recibir comunicaciones nuestras, en la oficina principal
                            de 3C Sigma Holding.</p>


                        </scroll-page>
                      </scroll-container>


                    </div>



                  </div>
                  <div class="form-group terms">
                    <input name="terms" type="checkbox" value="yes" class="icheck required">
                    <label>Debe aceptar los terminos y condiciones para seguir
                    </label>
                  </div>
                </div>


              </div>

              <!-- /middle-wizard -->
              <div id="bottom-wizard">
                <button type="button" name="backward" class="backward">Retroceder </button>
                <button type="button" name="forward" class="forward" id="btnSgteRegistro">Siguiente</button>
                <!-- <button type="submit" name="process" class="submit">Submit</button> -->
                <button name="process" class="submit">Enviar</button>
              </div>
              <!-- /bottom-wizard -->
            </form>


          </div>
          <!-- /Wizard container -->
        </div>


        <div class="col-lg-5" id="videoderecho">
          <!-- <img  src="/video/regis.gif" style="margin-left: 4%;height: -122px;padding: 40px 0 0;	width: 97%;"> -->
          <video src="/video/Banner.mp4" id="videobanner" autoplay muted loop></video>

        </div>
      </div>
    </div><!-- /Row -->
    </div><!-- /Form_container -->

  </main>

  </footer>
  <!-- end footer-->

  <div class="cd-overlay-nav">
    <span></span>
    
  </div>
  <!-- cd-overlay-nav -->

  <div class="cd-overlay-content">
    <span></span>
  </div>
  <!-- cd-overlay-content -->

  <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>


  <script>

    function check(a,b) {
        var obja = document.getElementById(a)
        var objb = document.getElementById(b)
        if (obja.value != objb.value) {
            alert("¡¡Los campos de correo electrónico no son los mismos!!")
            return false;
        }
        return true;
    }
      </script>
    

  <!--==================FIXME:=====FOOTER REGISTER====================  -->
  <%- include ('partials/register/footer.ejs')%>
  <!--==================FIXME:=====FOOTER REGISTER=====================  -->
