

body::-webkit-scrollbar {
 width: 8px;
 
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);
  border-radius: 5px;
}


scroll-container {
  display: block;
  width: 632px;
  height: 257px;
  overflow-y: scroll;
}
scroll-page {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 68%;
  /* margin-bottom: 55px; */
  text-align: justify;
  /* padding: 13px 29px; */
  font-size: 13px;
}

scroll-container p {
  margin: 20px;
}
scroll-container::-webkit-scrollbar {
  background: #a9a9a9;
  width: 10px;
}

scroll-container::-webkit-scrollbar-thumb {
  background: #453b3b;
  border-radius: 5px;
}


.scroll_vertical {
  height: 337px;
  /* width: 747px; */
  overflow: auto;
  /* border: 1px solid #666; */
  /* background-color: #ccc; */
  padding: 8px;
}
.scroll_vertical::-webkit-scrollbar {
 width:10px;
}
.scroll_vertical::-webkit-scrollbar-thumb {
  background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%);
  border-radius: 5px;
  }