                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <!-- <i data-feather="users"></i> -->
                        <i class="fas fa-handshake"></i>

                        <span data-key="t-contacts"  >Clientes</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <!-- <li><a href="contacts-grid" data-key="t-user-grid">Cuadrícula de usuario</a></li> -->
                        <li><a href="/lista-clientes"   data-key="t-user-list">Lista de clientes</a></li>
                        <li><a href="/nuevo-cliente"  data-key="t-invoice-detail">Nuevo cliente</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/afiliados">
                        <i class="fas fa-users"></i>
                        <span data-key="t-contacts" >Afiliados</span>
                     
                   </a>
                </li>
                <li>
                    <a href="/ventas-vendedor">
                        <i class="fas fa-chart-line"></i>
                        <span data-key="t-contacts" >Ventas</span>
                     </a>
                </li>