
<div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5" style="border-radius: 17px;">
    <div class="card-body">
        <img src="../directorio_dash/images/Codigoreferido.svg" alt="" style="margin-bottom: -17%;">
        <div class="mt-4">
            
            <h5 class="alertcard-title font-size-16">Comparte tu código</h5>
            <p class="font-size-13">Invita a nuevos vendedores a 3C Sigma Water System y aumenta tus ingresos.</p>
  
               <% if(user.total_ventas >= 20.5) { %>

             <input type="hidden" id="contenido-texto" value="https://app.3csigmawater.com/register?code=<%= user.id_vendedor %>">
                <span class="d-none d-xl-inline-block ms-1 fw-medium" >
                   <%= user.id_vendedor %> 
                </span>
                    <button class="btn btn-primary mt-2" id="botonCopy" style="border-radius: 17px;">Copiar código </button>

                    <style>
                        .mensaje-copy{
                            visibility: hidden;
                            color: #812082 ;
                        }
                        .show {
                            visibility: visible ;
                            transition: all .10s;
                            padding: 2px;
                        }
                    </style>
                 <div class="mensaje-copy" role="alert">
                         <h5 class="text-info"></h5>
                            <b>¡Copiado exitosamente!</b>
                  </div>
               <%} else { %>
                  <center><p><i class=" fas fa-lock"></i></p><center> 
                    <button class="btn btn-primary mt-2" hidden id="botonCopy" style="border-radius: 17px;">Copiar código </button>
                <% } %> 
                
         </div>
    </div>
</div>



    
  

