<div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
    <div class="card-body">
        <img src="./cssdash/images/Codigoreferido.svg" alt="" style="margin-bottom: -17%;">
        <div class="mt-4">
            
            <h5 class="alertcard-title font-size-16">Comparte tu código</h5>
            <p class="font-size-13">Invita a nuevos vendedores a 3C Sigma Water System y aumenta tus ingresos.</p>
            <% if (user) { %>
                <span class="d-none d-xl-inline-block ms-1 fw-medium">
                   <%= user.id_vendedor %>
                </span>
                <% } %>

            <a href="#!" class="btn btn-primary mt-2">Copiar código </a>

        </div>
    </div>
</div>


