
<div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
    <div class="card-body">
        <img src="../directorio_dash/images/Codigoreferido.svg" alt="" style="margin-bottom: -17%;">
        <div class="mt-4">
            
            <h5 class="alertcard-title font-size-16">Comparte tu código</h5>
            <p class="font-size-13">Invita a nuevos vendedores a 3C Sigma Water System y aumenta tus ingresos.</p>
  

                <span class="d-none d-xl-inline-block ms-1 fw-medium"id="contenido-texto" >
                                    
                  <center><p><i class=" fas fa-lock"></i></p><center> 
                </span>

               <button class="btn btn-primary mt-2" id="botonCopy" style="border-radius: 17px;">Copiar código </button>
         </div>
        <!-- <div class="mensaje-copy" > <p>¡Copiado al portapapeles!</p></div> -->
    </div>
</div>


<!-- if (user) { %>
    = user.id_vendedor %>
  } %>
 -->
