                <!-- <li class="menu-title mt-2" data-key="t-components">Elementos</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="briefcase"></i>
                        <span data-key="t-components">Componentes</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ui-alerts" data-key="t-alerts">Alertas</a></li>
                        <li><a href="ui-buttons" data-key="t-buttons">Botones</a></li>
                        <li><a href="ui-cards" data-key="t-cards">Tarjetas</a></li>
                        <li><a href="ui-carousel" data-key="t-carousel">Carrusel</a></li>
                        <li><a href="ui-dropdowns" data-key="t-dropdowns">Listas deplegables</a></li>
                        <li><a href="ui-grid" data-key="t-grid">Red</a></li>
                        <li><a href="ui-images" data-key="t-images">Imagenes</a></li>
                        <li><a href="ui-modals" data-key="t-modals">Modales</a></li>
                        <li><a href="ui-offcanvas" data-key="t-offcanvas">Offcanvas</a></li>
                        <li><a href="ui-progressbars" data-key="t-progress-bars">Barras de progreso</a></li>
                        <li><a href="ui-tabs-accordions" data-key="t-tabs-accordions">Tabs &amp; Acordeones</a></li>
                        <li><a href="ui-typography" data-key="t-typography">Tipografía</a></li>
                        <li><a href="ui-video" data-key="t-video">Video</a></li>
                        <li><a href="ui-general" data-key="t-general">General</a></li>
                        <li><a href="ui-colors" data-key="t-colors">Colores</a></li>
                    </ul>
                </li> -->

                <!-- <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="gift"></i>
                        <span data-key="t-ui-elements">Extendido</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="extended-lightbox" data-key="t-lightbox">Caja ligera</a></li>
                        <li><a href="extended-rangeslider" data-key="t-range-slider">Control deslizante de rango</a></li>
                        <li><a href="extended-sweet-alert" data-key="t-sweet-alert">SweetAlert 2</a></li>
                        <li><a href="extended-session-timeout" data-key="t-session-timeout">Hora de término de la sesión</a></li>
                        <li><a href="extended-rating" data-key="t-rating">Clasificación</a></li>
                        <li><a href="extended-notifications" data-key="t-notifications">Notificaciones</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i data-feather="box"></i>
                        <span class="badge rounded-pill bg-soft-danger text-danger float-end">7</span>
                        <span data-key="t-forms">Formularios</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="form-elements" data-key="t-form-elements">Elementos basicos</a></li>
                        <li><a href="form-validation" data-key="t-form-validation">Validación</a></li>
                        <li><a href="form-advanced" data-key="t-form-advanced">Complementos avanzados</a></li>
                        <li><a href="form-editors" data-key="t-form-editors">Editores</a></li>
                        <li><a href="form-uploads" data-key="t-form-upload">Subir archivo</a></li>
                        <li><a href="form-wizard" data-key="t-form-wizard">Mago</a></li>
                        <li><a href="form-mask" data-key="t-form-mask">Máscara</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="sliders"></i>
                        <span data-key="t-tables">Mesas</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="tables-basic" data-key="t-basic-tables">Bootstrap básico</a></li>
                        <li><a href="tables-datatable" data-key="t-data-tables">Tablas de datos</a></li>
                        <li><a href="tables-responsive" data-key="t-responsive-table">Sensible</a></li>
                        <li><a href="tables-editable" data-key="t-editable-table">Editable</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="pie-chart"></i>
                        <span data-key="t-charts">Gráficos</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="charts-apex" data-key="t-apex-charts">Apexcharts</a></li>
                        <li><a href="charts-echart" data-key="t-e-charts">Echarts</a></li>
                        <li><a href="charts-chartjs" data-key="t-chartjs-charts">Chartjs</a></li>
                        <li><a href="charts-knob" data-key="t-knob-charts">Perilla Jquery</a></li>
                        <li><a href="charts-sparkline" data-key="t-sparkline-charts">Minigráfico</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="cpu"></i>
                        <span data-key="t-icons">Iconos</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="icons-boxicons" data-key="t-boxicons">Boxicons</a></li>
                        <li><a href="icons-materialdesign" data-key="t-material-design">Diseño de materiales</a></li>
                        <li><a href="icons-dripicons" data-key="t-dripicons">Dripicons</a></li>
                        <li><a href="icons-fontawesome" data-key="t-font-awesome">Font Awesome 5</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="map"></i>
                        <span data-key="t-maps">Mapas</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="maps-google" data-key="t-g-maps">Google</a></li>
                        <li><a href="maps-vector" data-key="t-v-maps">Vector</a></li>
                        <li><a href="maps-leaflet" data-key="t-l-maps">Folleto</a></li>
                    </ul>
                </li> -->