

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <!-- <i data-feather="users"></i> -->
                        <i class="fas fa-handshake"></i>

                        <span data-key="t-contacts"  style="font-weight: 400;" >Clientes</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <!-- <li><a href="contacts-grid" data-key="t-user-grid">Cuadrícula de usuario</a></li> -->
                        <li><a href="/lista-clientes"  style="font-weight: 400;" data-key="t-user-list">Lista de clientes</a></li>
                        <li><a href="/nuevos-clientes" style="font-weight: 400;"  data-key="t-invoice-detail">Nuevo cliente</a></li>
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        
                        <i class="fas fa-file-invoice-dollar"></i>
                        <span data-key="t-apps" style="font-weight: 400;"  >Facturas</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                       
                        <li><a href="/lista_facturas" style="font-weight: 400;"   data-key="t-invoice-list">Lista de facturas</a></li>
                        <li><a href="/detalle_facturas" data-key="t-invoice-detail">Nueva factura</a></li>
                    
                    </ul>
                </li>

                <li>
                    <a href="/referidos" >
                        <i class="fas fa-users"></i>
                        <span data-key="t-contacts" >Referidos</span>
                     
                   </a>
                </li>