
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8" />
  <title>3C Sigma Water System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
  <meta content="Themesbrand" name="author">
  <!-- App favicon -->
  <link rel="shortcut icon" href="./cssdash/images/3clogo.svg">

  <base href="/">

  

    <!-- plugin css -->
    <link href="./cssdash/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

    
  
  <!-- preloader css -->
<link rel="stylesheet" href="./cssdash/css/preloader.min.css" type="text/css" />

<!-- Bootstrap Css -->
<link rel="stylesheet" type="text/css" href="./cssdash/css/bootstrap.min.css" id="bootstrap-style" />
<!-- Icons Css -->
<link rel="stylesheet" type="text/css" href="./cssdash/css/icons.min.css" />
<!-- App Css-->
<link rel="stylesheet" type="text/css" href="./cssdash/css/app.min.css" id="app-style" />

<script src="./js/jquery/scripts_personalizados.js"></script>
  <!-- Icons Css -->
  <link rel="stylesheet" type="text/css" href="./cssdash/css/icons.min.css" />

</head>
