<span class="d-none d-xl-inline-block ms-1 fw-medium">
    <% if (user) { %>
      <%= user.nombres %> <%=user.apellidos%> 
    <% } %>
    </span>
<i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
