<div class="navbar-brand-box">

    <a href="#" class="logo logo-dark">
        <span class="logo-sm">
            <img src="./directorio_dash/images/3clogo.svg" alt="" >
        </span>
        <span class="logo-lg">
            <img src="./directorio_dash/images/logo.svg" alt=""   style="width: 64%;" > <span class="logo-txt"></span>
        </span>
    </a>

    <a href="#" class="logo logo-light">
        <span class="logo-sm">
            <img src="./directorio_dash/images/3clogo.svg" alt="" >
        </span>
        <span class="logo-lg">
            <img src="./directorio_dash/images/logo.svg" alt=""   style="width: 64%;" > <span class="logo-txt"></span>
        </span>
    </a>
    
</div>