  <!-- =======FIXME: OCULTANDO OPCIONES DE REDES========================== -->


  <a href="https://3csigmawatersystem.secure.simplybook.me/" target="_blank" type="button" class="btn btn-primary"
   style="height: 41px;margin-top: 4%;font-size: 12px;border-radius: 17px; width: 34%;">
   <p style="margin: inherit;">Agendar cita <i class="fas fa-calendar-alt" style="margin-left:8%;"></i></p></a>
 
  <!-- <a href="https://3csigmawatersystem.secure.simplybook.me/" target="_blank" type="button" class="btn btn-primary"> Agendar cita  <i class="fas fa-calendar-alt" ></i></a> -->




              <!-- <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                    <div class="p-2">
                        <div class="row g-0">
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="./directorio_dash/images/brands/github.png" alt="Github">
                                    <span>GitHub</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="./directorio_dash/images/brands/bitbucket.png" alt="bitbucket">
                                    <span>Bitbucket</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="./directorio_dash/images/brands/dribbble.png" alt="dribbble">
                                    <span>Dribbble</span>
                                </a>
                            </div>
                        </div>

                        <div class="row g-0">
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="./directorio_dash/images/brands/dropbox.png" alt="dropbox">
                                    <span>Dropbox</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="./directorio_dash/images/brands/mail_chimp.png" alt="mail_chimp">
                                    <span>Mail Chimp</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="./directorio_dash/images/brands/slack.png" alt="slack">
                                    <span>Slack</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            
