
             
            <!-- JAVASCRIPT -->
            <script src="../directorio_perfilClientes/libs/jquery/jquery.min.js"></script>
            <script src="../directorio_perfilClientes/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="../directorio_perfilClientes/libs/metismenu/metisMenu.min.js"></script>
            <script src="../directorio_perfilClientes/libs/simplebar/simplebar.min.js"></script>
            <script src="../directorio_perfilClientes/libs/node-waves/waves.min.js"></script>
            <script src="../directorio_perfilClientes/libs/feather-icons/feather.min.js"></script>
            <!-- pace js -->
            <script src="../directorio_perfilClientes/libs/pace-js/pace.min.js"></script>
            <!-- * ====== Scripts de las graficas ======= -->
                    <!-- apexcharts js -->
                    <script src="../directorio_perfilClientes/libs/apexcharts/apexcharts.min.js"></script>
                    <!-- apexcharts init -->
                    <script src="../directorio_perfilClientes/js/pages/apexcharts.init.js"></script>
                    <!-- dashboard init -->
                    <script src="../directorio_perfilClientes/js/pages/dashboard.init.js"></script>
            <!-- * ====== Scripts de las graficas ======= -->
 
        <!-- Required datatable js -->
        <script src="../directorio_dash/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- Responsive Table js -->
        <script src="../directorio_dash/libs/admin-resources/rwd-table/rwd-table.min.js"></script>
        <!-- Responsive examples -->
        <script src="../directorio_dash/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
  

        <!-- Buttons examples -->
        <script src="../directorio_dash/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="../directorio_dash/libs/jszip/jszip.min.js"></script>
        <script src="../directorio_dash/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="../directorio_dash/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../directorio_dash/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

         <!-- Init js -->
         <script src="../directorio_dash/js/pages/table-responsive.init.js"></script>
         <script src="../directorio_perfilClientes/js/app.js"></script>
             
         <!-- Datatable init js -->
         <script src="../directorio_dash/js/pages/datatables.init.js"></script>    



<!-- Required datatable js -->
<script src="../libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Responsive examples -->
<script src="../libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- init js -->
<script src="../directorio_dash/js/pages/datatable-pages.init.js"></script>

<script src="../directorio_dash/js/app.js"></script>

<!-- ==========FIXME: JS DEL FORMULARIO ================= -->

<!-- BEGIN: Vendor JS-->
<script src="../directorio_dash/js_clientes/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="../directorio_dash/js_clientes/jquery.sticky.js"></script>
<script src="../directorio_dash/js_clientes/jquery.sparkline.min.js"></script>
<script src="../directorio_dash/js_clientes/jquery.steps.min.js"></script>
<script src="../directorio_dash/js_clientes/moment-with-locales.min.js"></script>


<script src="../directorio_dash/js_clientes/jquery.validate.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="../directorio_dash/js_clientes/app-menu.min.js"></script>
<script src="../directorio_dash/js_clientes/app.min.js"></script>
<!-- <script src="./directorio_dash/js_clientes/customizer.min.js"></script> -->
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="../directorio_dash/js_clientes/breadcrumbs-with-stats.min.js"></script>
<script src="../directorio_dash/js_clientes/wizard-steps.min.js"></script>
<!-- ==========FIXME: JS DEL FORMULARIO ================= -->
<!-- form mask -->
<script src="../libs/imask/imask.min.js"></script>
<!-- form mask init -->
<script src="../directorio_dash/js/pages/form-mask.init.js"></script>
<script src="../js/scripts-mask-phone.js"></script>
<script src="../js/scripts-validar-campos.js"></script>
<!--FIXME: ================================================================== -->
<script>
// Mascara  para monto aprobado
document.addEventListener("DOMContentLoaded", function () {
    // Pattern (Phone)
    var currencyMask = IMask(document.getElementById('montoAprobadoUpdate'), {
       mask: '$num',
       blocks: {
         num: {
           // nested masks are available!
           mask: Number,
           thousandsSeparator: ','
         }
       }
     });
 });

// =====>>>> Actualizar datos del cliente
function UpdateinfoCl(){
          const id_cliente = $("#idClinfo").val();
          const correo = $("#correo").val();
          const telefono = $("#PclTelefono").val();
          const nombre = $("#PclNombre").val();
          const segundo_nombre = $("#PclSegundo_nombre").val();
          const apellido = $("#PclApellido").val();
          const direccion = $("#direccion").val();
          const ciudad = $("#PclCiudad").val();
          const estado_ubicacion = $("#estado_ubicacion").val();
          const codigo_postal = $("#codigo_postal").val();
          const direccion2 = $("#direccion2").val();

          fetch('/ActualizarInfoCl', {
              method: 'POST',
              body: JSON.stringify({id_cliente,correo,telefono,nombre,segundo_nombre,apellido,direccion,ciudad,estado_ubicacion,codigo_postal,direccion2}),
              headers: { 'Content-Type': 'application/json' }

           }).then(res => res.json())
             .catch(error => console.error('Error', error))
          .then(response => {
                   if(response)   {
                       Swal.fire(
                         '¡Enviado!',
                         'Datos actualizados',
                         'success'
                       )
                        }else {
                            Swal.fire(
                                '¡Error!',
                                'Ocurrió un problema al guardar los cambios, comunicate con soporte',
                                'error'
                             )
                        }
                    })
             }

// =====>>>> Actualizar Monto aprobado
  function presionar(){
     const monto_aprobado = $("#montoAprobadoUpdate").val();
     const id_cliente = $("#consecutivo").val();

          fetch('/ActualizarMontoAprobado', {
              method: 'POST',
              body: JSON.stringify({monto_aprobado,id_cliente}),
              headers: { 'Content-Type': 'application/json' }

           }).then(res => res.json())
             .catch(error => console.error('Error', error))
          .then(response => {
                   if(response)   {
                       Swal.fire(
                         '¡Enviado!',
                         'Monto actualizado',
                         'success'
                       )
                        }else {
                            Swal.fire(
                                '¡Error!',
                                'Ocurrió un problema al guardar los cambios, comunicate con soporte',
                                'error'
                             )
                        }
                    })
             }

// =====>>>> Actualizar Estado del credito
  function presionarBtnEstadoCredito(){
     
      const estado_del_credito = $("#estadosCreditoId option:selected").val()
      const id_cliente = $("#idConsecutivo").val()

          fetch('/ActualizarCredito', {
              
              method: 'POST',
              body: JSON.stringify({estado_del_credito,id_cliente}),
              headers: { 'Content-Type': 'application/json' }

           }).then(res => res.json())
             .catch(error => console.error('Error', error))
          .then(response => {
                   if(response)   {
                    location.reload();
                        }else {
                            Swal.fire(
                                '¡Error!',
                                'Ocurrió un problema al guardar los cambios, comunicate con soporte',
                                'error'
                             )
                        }
                    })
             }
                                        
 </script>




 
    </body>
    </html>