

                <li>
                    <a href="/vendedores">
                        <i class="fas fa-user-tie"></i>
                        <span data-key="t-contacts" >Vendedores</span>
                    </a>
                </li>

                <li>
                    <a href="/listar-clientes">
                      <i class="fas fa-users"></i>
                      <span data-key="t-contacts" >Clientes</span>
                    </a>
                </li>
                           
               <li>
                    <a href="/ventas">
                        <i class="fas fa-chart-line"></i>
                        <span data-key="t-contacts" >Ventas</span>
                     </a>
                </li>
             
              