<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Perfil clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../directorio_perfilClientes/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/colors.min.css">

    <base href="#">



    <!-- DataTables -->
    <link href="../directorio_perfilClientes/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
       type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="../directorio_perfilClientes/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />

    <!-- preloader css -->
    <link rel="stylesheet" href="../directorio_perfilClientes/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_perfilClientes/css/bootstrap.min.css"
        id="bootstrap-style" />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" href="../directorio_perfilClientes/css/icons.min.css" />
    <!-- App Css-->
    <link rel="stylesheet" type="text/css" href="../directorio_perfilClientes/css/app.min.css" id="app-style" />
    <!-- Tipo de letra -->
    <link rel="stylesheet" href="../css/typeFont.css" type="text/css" />
    <!-- scroll -->
    <link rel="stylesheet" href="../css/scrolls.css">

</head>