<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>Solicitar credito</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
  <meta content="Themesbrand" name="author">
  <!-- JQUERY 3.4 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App favicon -->
  <link rel="shortcut icon" href="../directorio_dash/images/favicon.png">

  <base href="#">

  <!-- preloader css -->
  <link rel="stylesheet" href="../directorio_dash/css/preloader.min.css" type="text/css" />
  <!-- Bootstrap Css -->
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css/bootstrap.min.css" id="bootstrap-style" />
  <!-- Icons Css -->
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css/icons.min.css" />
  <!-- App Css-->
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css/app.min.css" id="app-style" />
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>


  <!-- ==========FIXME: CSS DEL FORMULARIO ================= -->
  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/daterangepicker.css">
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/pickadate.css">
  <!-- END: Vendor CSS-->

  <link rel="stylesheet" href="./css/mainarchivos.css" />


  <!-- BEGIN: Theme CSS-->
  <!-- <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/bootstrapp.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/colors.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/components.min.css"> -->
  <!-- END: Theme CSS-->

  <!-- BEGIN: Page CSS-->.
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/palette-gradient.min.css">
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/wizard.min.css">
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/daterange.min.css">
  <!-- END: Page CSS-->

  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="../directorio_dash/css_clientes/estilosPropios.css">
  <!-- END: Custom CSS-->

  <link rel="stylesheet" href="../directorio_dash/css_clientes/alertify.css">
  <link rel="stylesheet" href="../directorio_dash/css_clientes/alertify.min.css">
  <link rel="stylesheet" href="../directorio_dash/css_clientes/alertify.rtl.css">
  <link rel="stylesheet" href="../directorio_dash/css_clientes/alertify.css">

  <link rel="stylesheet" href="../directorio_dash/css_clientes/estiloCanvas.css">


  <!-- CSS DE CALENDARIO DEL REGISTER -->
  <link rel="stylesheet" href="../directorio_dash/css_clientes/jquery-ui.css">
  <link rel="stylesheet" href="../directorio_dash/css_clientes/ jquery-ui.min.css">

 
  <!-- ==========FIXME: FIN CSS DEL FORMULARIO ================= -->

</head>