<!-- FIXME: ================================================================== -->
<!-- form mask -->
<script src="../libs/imask/imask.min.js"></script>
<!-- form mask init -->
<script src="../directorio_dash/js/pages/form-mask.init.js"></script>
<!--FIXME: ================================================================== -->

<!-- JAVASCRIPT -->
<script src="../directorio_dash/js/scripts_personalizadosdash.js"></script>
<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../libs/metismenu/metisMenu.min.js"></script>
<script src="../libs/simplebar/simplebar.min.js"></script>
<script src="../libs/node-waves/waves.min.js"></script>
<script src="../libs/feather-icons/feather.min.js"></script>

<!-- pace js -->
<script src="../directorio_dash/libs/pace-js/pace.min.js"></script>
<!-- Script Personalizados -->
<script src="../js/scripts_personalizados.js"></script>

<script src="../libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../directorio_dash/js/app.js"></script>


<!-- ==========FIXME: JS DEL FORMULARIO ================= -->

<!-- BEGIN: Vendor JS-->
<script src="../directorio_nuevoCliente/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="../directorio_nuevoCliente/js/jquery.sticky.js"></script>
<script src="../directorio_nuevoCliente/js/jquery.sparkline.min.js"></script>
<script src="../directorio_nuevoCliente/js/jquery.steps.min.js"></script>
<script src="../directorio_nuevoCliente/js/moment-with-locales.min.js"></script>

<script src="../directorio_nuevoCliente/js/jquery.validate.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="../directorio_nuevoCliente/js/app-menu.min.js"></script>
<script src="../directorio_nuevoCliente/js/app.min.js"></script>
<!-- <script src="./directorio_nuevoCliente/js/customizer.min.js"></script> -->
<!-- END: Theme JS-->

<script src="./directorio_nuevoCliente/js/estilosPropios.js"></script>


<!-- ==========FIXME: JS DEL FORMULARIO ================= -->


<script>
  // TODO: FUNCIONES PARA MASCARA  -->
   document.addEventListener("DOMContentLoaded", function () {
 // =========>>  mascara para agua embotellada  -->
  var currencyMaskAgua = IMask(document.getElementById('agua'), {
    mask: '$num',
    blocks: {
      num: {
        // nested masks are available!
        mask: Number,
        thousandsSeparator: ','
      }
    }
  });
  // =========>>  mascara para Jabones  -->
  var currencyMaskJabones = IMask(document.getElementById('jabones'), {
    mask: '$num',
    blocks: {
      num: {
        // nested masks are available!
        mask: Number,
        thousandsSeparator: ','
      }
    }
  });
// =========>>  mascara para Productos de limpieza -->
  var currencyMaskpLimpieza = IMask(document.getElementById('pLimpieza'), {
    mask: '$num',
    blocks: {
      num: {
        // nested masks are available!
        mask: Number,
        thousandsSeparator: ','
      }
    }
  });

  // =========>>  mascara para agua caliente-->
  var currencyMaskaguaCaliente = IMask(document.getElementById('aguaCaliente'), {
    mask: '$num',
    blocks: {
      num: {
        // nested masks are available!
        mask: Number,
        thousandsSeparator: ','
      }
    }
  });

  // =========>>  mascara para plomeria y electrodomésticos-->
  var currencyMaskplomElectro = IMask(document.getElementById('plomElectro'), {
    mask: '$num',
    blocks: {
      num: {
        // nested masks are available!
        mask: Number,
        thousandsSeparator: ','
      }
    }
  });

    // =========>>  mascara para Ropa y lenceria -->
    var currencyMaskropa = IMask(document.getElementById('ropa'), {
    mask: '$num',
    blocks: {
      num: {
        // nested masks are available!
        mask: Number,
        thousandsSeparator: ','
      }
    }
  });

  })
 // TODO: FUNCIONES PARA MASCARA  -->

</script>

</body>
</html>