<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>Test de agua</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
  <meta content="Themesbrand" name="author">
  <!-- JQUERY 3.4 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App favicon -->
  <link rel="shortcut icon" href="./directorio_dash/images/favicon.png">

  <base href="#">

  <!-- preloader css -->
  <link rel="stylesheet" href="./directorio_dash/css/preloader.min.css" type="text/css" />
  <!-- Bootstrap Css -->
  <link rel="stylesheet" type="text/css" href="./directorio_dash/css/bootstrap.min.css" id="bootstrap-style" />
  <!-- Icons Css -->
  <link rel="stylesheet" type="text/css" href="./directorio_dash/css/icons.min.css" />
  <!-- App Css-->
  <link rel="stylesheet" type="text/css" href="./directorio_dash/css/app.min.css" id="app-style" />
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>


  <!-- ==========FIXME: CSS DEL FORMULARIO ================= -->
  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/daterangepicker.css">
  <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/pickadate.css">
  <!-- END: Vendor CSS-->

  <link rel="stylesheet" href="./css/mainarchivos.css" />


  <!-- BEGIN: Theme CSS-->
  <!-- <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/bootstrapp.min.css"> -->
  <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/colors.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/components.min.css"> -->
  <!-- END: Theme CSS-->

  <!-- BEGIN: Page CSS-->.
  <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/palette-gradient.min.css">
  <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/wizard.min.css">
  <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/daterange.min.css">
  <!-- END: Page CSS-->

  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="./directorio_nuevoCliente/css/estilosPropios.css">
  <!-- END: Custom CSS-->

  <!-- scroll tabla test de agua -->
  <link rel="stylesheet" href="./css/scrolls.css">


  <!-- Tipo de letra -->
  <link rel="stylesheet" href="./css/typeFont.css">
  <!-- ==========FIXME: FIN CSS DEL FORMULARIO ================= -->

</head>